@use '../mixins/breakpoint' as *;

.hero {

  min-height: 100%;
  height: 100%;
  height: var(--theme-viewport-height--total);
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  overflow: hidden;

  .partners {
    position: absolute;
    bottom: 50px;
    left: 0;
    z-index: 20;
    &__title {
      text-align: left;
    }
  }

  &__background {
    height: 100%;
    width: 100%;
    display: block;
    z-index: 10;
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__heading {
    font-family: var(--theme-font-family--trump-gothic-pro);
    font-weight: 700;
    line-height: 1.3;
    text-transform: uppercase;
    letter-spacing: 5.2px;
  }

  &__main {
    position: relative;
    z-index: 20;
    text-align: center;
  }

  &--production {
    height: auto;
  }



  @include breakpoint(lg) {

    &__heading {
      font-weight: 100;
      font-size: 80px;
      letter-spacing: 18px;
    }

  }

  @include breakpoint(xl) {

    &__heading {
      font-size: 110px;
    }

  }

  @include breakpoint(xxl) {

    &__heading {
      font-weight: 100;
      font-size: 120px;
      letter-spacing: 18px;
    }

  }

}
