@use '../mixins/breakpoint' as *;

.partners-listing {

  .partner {
    &__link:hover {
      color: var(--theme-colour--white);
    }
  }

  &__heading,
  &__listing {
    width: 100%;
  }

  &__content {
    color: var(--theme-colour--light-grey);
    display: flex;
    width: 100%;
    flex-flow: wrap;
  }

  &__heading {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 100;
    & + .partners-listing__listing {
      margin-top: 15px;
    }
  }

  &__listing {
    max-width: 350px;
    display: inline-flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    column-gap: 28px;
    row-gap: 18px;
    flex-flow: wrap;
    margin-left: auto;
    margin-right: auto;
  }

  @include breakpoint(md) {
    &__listing {
      max-width: 450px;
      column-gap: 42px;
    }
  }

  @include breakpoint(lg) {
    &__heading,
    &__listing {
      margin: 0;
      width: auto;
    }
    &__content,
    &__listing {
      gap: 50px;
    }
    &__content {
      flex-flow: nowrap;
      justify-content: center;
      align-items: center;
    }
    &__heading {
      & + .partners-listing__listing {
        margin-top: 0;
      }
    }
    &__listing {
      max-width: none;
    }
  }

  @include breakpoint(xl) {
    &__content,
    &__listing {
      gap: 52px;
    }
  }

  @include breakpoint(xxl) {
    &__content,
    &__listing {
      gap: 55px;
    }
  }

}
