@use '../mixins/border' as *;
@use '../mixins/breakpoint' as *;

.productions-listing {

  &__listing {

    transition: background var(--theme-transition--duration);
    display: grid;
    width: 100%;
    position: relative;
    z-index: 10;

    .grid &,
    .featured-grid-large & {
      grid-template-columns: repeat(2, 1fr);
    }

    .featured-grid-large & {
      @include border-solid(4px, "transparent");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      .card-production {
        @include border-solid(4px, "transparent");
      }
    }

    .grid & {
      gap: 8px;
    }

    &.hover {
      &.featured-grid-large,
      &.featured-grid-small {
        @include border-solid(4px, "black");
        .card-production {
          @include border-solid(4px, "black");
          &__feature-image,
          &__hero {
            opacity: 0;
          }
        }
      }
      &.grid {
        .card-production {
          &__feature-image {
            filter: grayscale(100%);
          }
          &.active {
            .card-production {
              &__feature-image {
                filter: grayscale(0%);
              }
            }
          }
        }
      }
    }

  }

  @include breakpoint(lg) {

    &__listing {
      .grid &,
      .featured-grid-large & {
        grid-template-columns: repeat(3, 1fr);
      }
      .featured-grid-small & {
        @include border-solid(4px, "transparent");
        max-width: var(--theme-container--lg);
        grid-template-columns: repeat(2, 1fr);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        margin-left: auto;
        margin-right: auto;
        .card-production {
          @include border-solid(4px, "transparent");
        }
      }
    }

  }

  @include breakpoint(xl) {

    &__listing {
      .grid &,
      .featured-grid-large & {
        grid-template-columns: repeat(4, 1fr);
      }
      .featured-grid-small & {
        max-width: var(--theme-container--xl);
      }
    }

  }

  @include breakpoint(xl) {

    &__listing {
      .featured-grid-small & {
        max-width: var(--theme-container--xxl);
      }
    }

  }


}
