@use '../mixins/breakpoint' as *;

.productions-listing {

  &__layout {

    margin: auto;

    &[data-layout="featured-grid-large"],
    &[data-layout="grid"] {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-flow: row;
      padding: 0 var(--bs-gutter-x);
    }

    // ---------------------------------------- Featured Grid Large
    &[data-layout="featured-grid-large"] {
      &.hover {
        .production {
          border: 4px solid var(--theme-colour--black);
          &__cover-placeholder,
          &__feature-image {
            opacity: 0;
          }
        }
      }
    }

    // ---------------------------------------- Featured Grid Small
    &[data-layout="featured-grid-small"] {
      transition: background 500ms 250ms;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      display: block;
      .production {
        &__cover {
          transition: opacity 500ms;
          opacity: 1;
        }
        &__listing-item {
          display: block;
        }
      }
      &.hover {
        .production {
          &__cover {
            opacity: 0;
          }
        }
      }
    }

    // ---------------------------------------- Grid
    &[data-layout="grid"] {
      grid-gap: 10px;
      &.hover {
        .feature-image {
          filter: grayscale(100%);
        }
        .link {
          color: transparent;
        }
        .hover {
          .feature-image {
            filter: grayscale(0%);
          }
          .link {
            color: var(--theme-colour--white);
          }
        }
      }
    }

  }

  @include breakpoint(sm) {

    &__layout {

      &[data-layout="featured-grid-large"],
      &[data-layout="grid"] {
        max-width: var(--bs-container-width--sm);
      }

      // ---------------------------------------- Featured Grid Large
      &[data-layout="featured-grid-large"] {
        padding: 0;
      }

    }

  }

  @include breakpoint(md) {

    &__layout {

      &[data-layout="featured-grid-large"],
      &[data-layout="grid"] {
        max-width: var(--bs-container-width--md);
      }

    }

  }

  @include breakpoint(lg) {

    &__layout {

      // ---------------------------------------- Featured Grid Small
      &[data-layout="featured-grid-large"],
      &[data-layout="featured-grid-small"],
      &[data-layout="grid"] {
        max-width: var(--bs-container-width--lg);
      }

      &[data-layout="featured-grid-large"],
      &[data-layout="featured-grid-small"] {
        background-repeat: none;
        background-position: center center;
        background-size: cover;
      }

      &[data-layout="featured-grid-large"],
      &[data-layout="grid"] {
        grid-template-columns: 1fr 1fr 1fr;
      }

      // ---------------------------------------- Featured Grid Small
      &[data-layout="featured-grid-small"] {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: row;
      }

    }

  }

  @include breakpoint(xl) {

    &__layout {

      // ---------------------------------------- Featured Grid Small
      &[data-layout="featured-grid-large"],
      &[data-layout="featured-grid-small"],
      &[data-layout="grid"] {
        max-width: var(--bs-container-width--xl);
      }

      &[data-layout="featured-grid-large"],
      &[data-layout="grid"] {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }

    }

  }

  @include breakpoint(xxl) {

    &__layout {

      // ---------------------------------------- Featured Grid Small
      &[data-layout="featured-grid-large"],
      &[data-layout="featured-grid-small"],
      &[data-layout="grid"] {
        max-width: var(--bs-container-width--xxl);
      }

    }

  }

}
