@use '../mixins/breakpoint' as *;

.team-members {

  .modal {
    &-body {
      font-family: var(--theme-font-family--chaparral-pro);
      padding: 40px 24px 0;
      font-weight: 400;
    }
    &-button {
      &-close {
        width: 18px;
        height: 18px;
        display: block;
        padding: 0;
        margin: 0;
        position: absolute;
        right: 24px;
        top: 24px;
        opacity: 1;
        transform: rotate(45deg);
        img, svg {
          display: block;
          width: 100%;
          height: 100%;
        }
        &:hover {
          opacity: 0.5;
        }
      }
    }
    &-content {
      background: var(--theme-colour--black);
      max-height: none;
      overflow: visible;
      width: 100%;
      margin: 0 auto;
      outline: none;
      border: none;
      border-radius: 0px;
      padding: 24px;
      min-height: 100%;
    }
    &-dialog {
      max-width: none;
      margin: 0 auto;
      height: auto;
      min-height: 100%;
      display: flex;
    }
    &-picture {
      margin: 0 auto;
      width: 200px;
      height: auto;
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
    &-team-member {
      &-bio,
      &-role {
        font-size: 14px;
        line-height: 1.32;
        color: var(--theme-colour--white);
        opacity: 0.8;
      }
      &-name,
      &-role {
        text-align: center;
        display: block;
        & + .modal-team-member-bio {
          margin-top: 28px;
        }
      }
      &-name {
        font-size: 18px;
        line-height: 1;
        font-weight: inherit;
        & + .modal-team-member-role {
          margin-top: 10px;
        }
      }
    }
  }

  &__heading {
    text-align: center;
    margin-bottom: 60px;
  }

  &__listing {
    column-gap: 20px;
    row-gap: 50px;
  }

  @include breakpoint(lg) {

    .modal {
      &-body {
        padding: 40px 80px 80px;
      }
      &-button {
        &-close {
          display: none;
        }
      }
      &-content {
        width: 800px;
        padding: 24px;
        min-height: 0;
        margin-top: 60px;
        margin-bottom: 60px;
      }
      &-dialog {
        max-width: none;
        margin: 0 auto;
        height: auto;
        min-height: 100%;
        flex-direction: column;
      }
      &-picture {
        width: 180px;
        margin-top: -60px;
      }
      &-team-member {
        &-bio,
        &-role {
          font-size: 16px;
        }
        &-name {
          font-size: 20px;
          & + .modal-team-member-role {
            margin-top: 10px;
          }
        }
      }
    }

    &__heading {
      margin-bottom: 70px;
    }

  }

  @include breakpoint(xxl) {
    &__heading {
      margin-bottom: 80px;
    }
  }

}
