@use '../mixins/breakpoint' as *;

.text-grid {

   &__heading {
    color: var(--theme-colour--white);
    font-size: 36px;
    letter-spacing: 7px;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 32px;
    font-weight: 500;
  }

  &__listing {
    gap: calc( 2.5 * var(--theme-layout--gutter) );
  }

  &__main {
    color: var(--theme-colour--light-grey);
  }

  &__item {
    &-subheading {
      font-weight: 400;
      & + .text-grid__item-content {
        margin-top: 20px;
      }
    }
  }

  @include breakpoint(lg) {

    &__content {
      width: 80%;
      margin: 0 auto;
    }

  }

}
