@use '../mixins/breakpoint' as *;

.title {

  &__content {
    text-align: left;
    margin: 0;
    padding: 0;
  }

  @include breakpoint(lg) {

    &__content {
      text-align: center;
    }

  }

}
