.video {

  &__content {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    cursor: pointer;
    iframe, video {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }
  }

  &__placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    justify-content: center;
    align-items: center;
    &-icon {
      transition: opacity var(--theme-transition--duration);
      color: var(--theme-colour--white);
      width: 60px;
      height: 60px;
      display: block;
      position: absolute;
      z-index: 10;
      opacity: 1;
      svg {
        fill: currentColor;
      }
    }
    &-image {
      width: 100%;
      height: 100%;
      img {
        object-fit: cover;
      }
    }
    img, svg {
      width: 100%;
      height: 100%;
    }
    &:hover {
      .video__placeholder-icon {
        opacity: 0.5;
      }
    }
  }

}
