@use '../mixins/breakpoint' as *;

.wysiwyg {

  &__content {
    font-family: var(--theme-font-family--chaparral-pro);
    font-weight: 100;
    line-height: 1.32;
    font-size: 18px;
    p, li {
      font-family: inherit;
      font-weight: inherit;
      line-height: inherit;
      font-size: inherit;
    }
    & > *:last-child {
      margin-bottom: 0;
    }
  }

  @include breakpoint(lg) {

    &__content {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      font-size: 20px;
    }

  }

}
