.hero {

  &.block {
    height: auto;
    width: 100%;
    display: block;
  }

  &__author,
  &__title {
    text-align: left;
    display: block;
  }

  &__author {
    margin-top: 30px;
  }

  &__content {
    width: 100%;
  }

  &__featured-image {
    width: 100%;
    height: auto;
    margin-top: 30px;
    img, svg {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__main {
    width: 100%;
  }

  &__title {
    margin-top: 60px;
  }

  .template--index & {

    &__background {
      position: absolute;
    }

  }

}
