.image {

  &__caption {
    margin-top: 12px;
  }

  &__content {
    &.with-aspect-ratio {
      .image__item {
        img {
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  &__item {
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

}
