@use '../mixins/border' as *;
@use '../mixins/breakpoint' as *;


.latest-articles {

  &__content {
    @include border-solid( 1px, "white", "top" );
    padding-top: 70px;
  }

  &__heading {
    margin-bottom: 70px;
    text-align: left;
  }

  &__listing {
    column-gap: 20px;
    row-gap: 50px;
  }

  @include breakpoint(lg) {

    &__heading {
      text-align: center;
    }

  }


}
