//////////////////////////////////////////////////////////
////  Error 404 | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Error 404 | Styles
//////////////////////////////////////////////////////////

.error-404 {

  min-height: var(--theme-viewport-height--total);
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;

  .heading {
    font-family: var(--theme-font-family--trump-gothic-pro);
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 5.2px;
    font-size: 44px;
    & + .message {
      margin-top: 20px;
    }
  }

  @include breakpoint(sm) {

    .heading {
      font-size: 47px;
    }

  } // min width sm

  @include breakpoint(md) {

    .heading {
      font-size: 50px;
    }

  } // min width md

  @include breakpoint(lg) {

    .heading {
      font-size: 52px;
    }

  } // min width lg

  @include breakpoint(xl) {

    .heading {
      font-size: 54px;
    }

  } // min width xl

  @include breakpoint(xxl) {

    .heading {
      font-size: 56px;
    }

  } // min width xxl

} // .error-404
