//////////////////////////////////////////////////////////
////  Body | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Body | Styles
//////////////////////////////////////////////////////////

body {

  background: var(--theme-colour--black);
  color: var(--theme-colour--white);
  position: relative;

  [role="main"] {
    padding-top: 112px;
    padding-bottom: 52px;
    &.post-type--production {
      padding-top: 112px * 0.5;
      padding-bottom: 0;
    }
    &.is-404 {
      padding: 0;
    }
  }

  &.sticky-footer {
    display: flex;
    flex-direction: column;
    main {
      flex: 1 0 auto;
    }
    footer {
      flex-shrink: 0;
    }
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    [role="main"] {
      padding-top: 160px;
      padding-bottom: 82px;
      &.post-type--production {
        padding-top: 160px * 0.5;
      }
    }

  } // min width lg

  @include breakpoint(xl) {

    [role="main"] {
      padding-bottom: 92px;
    }

  } // min width xl

  @include breakpoint(xxl) {

    [role="main"] {
      padding-bottom: 102px;
    }

  } // min width xxl

} // body
