//////////////////////////////////////////////////////////
////  Container | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Container | Styles
//////////////////////////////////////////////////////////

.container {

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    &-fluid {
      padding-left: 30px;
      padding-right: 30px;
    }

  } // min width lg

  @include breakpoint(xl) {

     &-fluid {
      padding-left: 40px;
      padding-right: 40px;
    }

  } // min width xl

  @include breakpoint(xxl) {

    &-fluid {
      padding-left: 50px;
      padding-right: 50px;
    }

  } // min width xxl

} // .container
