.flexible-content {

  position: relative;

  .section--navigation {
    .title {
      text-align: center;
    }
  }

  [data-index="0"] {
    &.section--hero {
      margin-top: -112px;
    }
  }

   @include breakpoint(lg) {

    .partners {
      flex-flow: row nowrap;
      justify-content: center;
      &__item {
        margin: 0 0 0 50px;
      }
      &__list {
        margin: 0;
        padding: 0;
        width: auto;
        flex: 0;
        flex-flow: row nowrap;
      }
      &__title {
        margin-bottom: 0;
      }
    }

    .wysiwyg {
      width: 80%;
    }

    [data-index="0"] {
      &.section--hero {
        margin-top: -160px;
      }
    }

  }

  @include breakpoint(xl) {

    .partners {
      &__item {
        margin: 0 0 0 52px;
      }
    }

  }

  @include breakpoint(xxl) {

    .partners {
      &__item {
        margin: 0 0 0 55px;
      }
    }

  }

}
