//////////////////////////////////////////////////////////
////  Fonts | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Fonts | Styles
//////////////////////////////////////////////////////////

@font-face {
  font-family: 'Omnifilm';
  src: url('<?php echo $assets_dir; ?>/fonts/Omnifilm.eot');
  src: local('Omnifilm'),
     url('<?php echo $assets_dir; ?>/fonts/Omnifilm.eot?#iefix') format('embedded-opentype'),
      url('<?php echo $assets_dir; ?>/fonts/Omnifilm.woff2') format('woff2'),
      url('<?php echo $assets_dir; ?>/fonts/Omnifilm.woff') format('woff'),
      url('<?php echo $assets_dir; ?>/fonts/Omnifilm.ttf') format('truetype'),
      url('<?php echo $assets_dir; ?>/fonts/Omnifilm.svg#SaaSeriesBD') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
