//////////////////////////////////////////////////////////
////  Footer | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Footer | Styles
//////////////////////////////////////////////////////////

.footer {

  background: rgba( var(--theme-colour-black), 0 );
  color: var(--theme-colour--white);

  .content,
  .legal,
  .navigation {
    font-family: var(--theme-font-family--chaparral-pro);
  }

  .content,
  .navigation {
    font-size: 15px;
    line-height: 1.5;
    color: var(--theme-colour--white);
    a {
      color: inherit;
      &:hover,
      &.active {
        color: var(--theme-colour--yellow);
      }
    }
  }

  .content {
    a {
      transition: color var(--theme-transition--duration);
      text-decoration: none;
    }
    span {
      display: block;
      font-size: inherit;
      font-family: inherit;
      line-height: inherit;
      &.super {
        & + span:not(.super) {
          margin-top: 20px;
        }
      }
    }
  }

  .heading {
    &--section-title {
      color: var(--theme-colour--white);
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .heading__hr,
      .heading__title {
        display: block;
      }
      .heading__hr {
        background: var(--theme-colour--white);
        height: 1px;
        width: 100px;
        margin-left: 20px;
      }
    }
    &--tertiary {
      color: rgba( var(--theme-colour-white), 0.5 );
      font-style: italic;
      margin-bottom: 20px;
      &:before {
        background: rgba( var(--theme-colour-white), 0.5 );
        top: calc( (100% - 2px) * .5 );
        content: '';
        position: absolute;
        display: block;
        height: 1px;
        margin: 0 10px;
        right: 100%;
        width: 1000%;
      }
    }
  }

  .legal {
    color: rgba( var(--theme-colour-white), 0.5 );
    text-align: right;
    font-size: 14px;
    padding: 0 0 32px 0;
    span {
      font-size: inherit;
    }
  }

  .navigation {

    width: 100%;
    flex-flow: column;

    &__item,
    &__link {
      font-size: inherit;
      font-family: inherit;
      line-height: inherit;
    }

    &__item {
      width: 100%;
      justify-content: flex-start;
    }

    &.navigation--opportunities {
      line-height: 1.5;
      position: relative;
      top: -7px;
      .link__title,
      .navigation__item,
      .navigation__link {
        line-height: 1.5;
      }
    }

  }

  .row {
    &--bottom {
      margin-bottom: -20px;
      [class^="col-"] {
        margin-bottom: 20px;
      }
    }
    &--inner {
      & + .row--inner {
        margin-top: 60px;
      }
    }
  }

  .social {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    &__item {
      height: 24px;
      width: auto;
      a, svg {
        height: 100%;
        width: auto;
        display: block;
      }
      & + .social__item {
        margin-left: 18px;
      }
    }
    &__link {
      color: var(--theme-colour--white);
      &:hover {
        color: var(--theme-colour--yellow);
      }
    }
  }

  &__call-out {
    font-family: var(--theme-font-family--trump-gothic-pro);
    color: rgba( var(--theme-colour-white), 0.15 );
    font-size: 90px;
    letter-spacing: 5.2px;
    position: absolute;
    z-index: 0;
  }

  &__main {
    padding: 32px 0;
  }

  @include breakpoint(sm) {

    &__call-out {
      font-size: 100px;
    }

  } // min width sm

  @include breakpoint(md) {

    &__call-out {
      font-size: 110px;
    }

  } // min width md

  @include breakpoint(lg) {

    .content {
      span {
        &.super {
          font-size: 24px;
          & + span:not(.super) {
            margin-top: 24px;
          }
        }
      }
    }

    .heading {
      &--section-title {
        margin-top: 20px;
        justify-content: space-between;
        .heading__hr {
          width: auto;
          margin-left: 20px;
          flex: 1;
        }
      }
      &--tertiary {
        margin-bottom: 24px;
        &:before {
          display: none;
        }
      }
    }

    .legal {
      text-align: center;
      padding: 0 0 54px 0;
    }

    .row {
      &--inner {
        & + .row--inner {
          margin-top: 70px;
        }
      }
    }

    &__call-out {
      left: 11.4%;
      font-size: 120px;
      margin-top: 22px;
      margin-left: 22px;
    }

    &__main {
      padding: 54px 0;
    }

  } // min width lg

  @include breakpoint(xl) {

    .row {
      &--inner {
        & + .row--inner {
          margin-top: 80px;
        }
      }
    }

  } // min width xl

  @include breakpoint(xxl) {

    .content {
      span {
        &.super {
          & + span:not(.super) {
            margin-top: 26px;
          }
        }
      }
    }

    .heading {
      &--tertiary {
        margin-bottom: 26px;
      }
    }

    .row {
      &--inner {
        & + .row--inner {
          margin-top: 90px;
        }
      }
    }

  } // min width xxl

} // .footer
