//////////////////////////////////////////////////////////
////  Form | Variables
//////////////////////////////////////////////////////////

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//////////////////////////////////////////////////////////
////  Form | Styles
//////////////////////////////////////////////////////////

.form {

  position: relative;
  overflow: hidden;

  .error {
    .form__error-message {
      transform: translate3d( 0, 0, 0 );
      opacity: 1;
    }
  }

  .field {

    &--email,
    &--tel,
    &--text {
      .label {
        position: absolute;
        bottom: 100%;
        left: 0;
        transform: translate3d( 0px, 29px, 0 );
      }
      &.error {
        .input {
          border-bottom-color: var(--theme-colour--yellow);
        }
      }
      &.in-focus {
        .input {
          border-bottom-color: var(--theme-colour--white);
        }
        .label {
          font-size: 10px;
          transform: translate3d( 0, 0, 0 );
        }
        &.error {
          .input {
            border-bottom-color: var(--theme-colour--yellow);
          }
        }
      }
    }

    &--checkbox,
    &--file {
      padding-top: var(--theme-layout--gutter);
      .label {
        color: var(--theme-colour--white);
      }
      &.error {
        .label {
          color: var(--theme-colour--yellow);
        }
      }
    }

    &--checkbox {
      .input {
        margin-right: calc(var(--theme-layout--gutter) * 0.5);
        -webkit-appearance: checkbox;
        width: auto;
      }
      .label {
        pointer-events: auto;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
    }

    &--file {
      .label {
        margin: 0 0 10px 0;
        width: 66%;
      }
    }

    & + .field {
      margin-top: var(--theme-layout--gutter);
    }

  }

  &__error-message {
    transition: opacity var(--theme-transition--duration), transform var(--theme-transition--duration);
    font-family: var(--theme-font-family--chaparral-pro);
    position: absolute;
    top: 100%;
    right: 0;
    text-align: right;
    font-size: 12px;
    font-style: italic;
    line-height: 1;
    opacity: 0.6666;
    font-weight: 100;
    transform: translate3d( 15px, 0, 0 );
    opacity: 0;
    padding: 5px 0 0 0;
    letter-spacing: 0.03em;
  }

  &__loading {
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
  }

  &__main {
    transition: opacity var(--theme-transition--duration);
    opacity: 1;
    position: relative;
  }

  &__spinner {
    border: 4px solid rgba( var(--theme-colour-yellow), 0.5);
    border-left-color: rgba( var(--theme-colour-yellow), 1);
    width: 90px;
    height: 90px;
    border-radius: 100%;
    transform: translate3d(0, 0, 0);
  }

  &__row {
    display: flex;
    align-items: flex-start;
    flex-flow: column;
    & + .form__row {
      margin-top: var(--theme-layout--gutter);
      &.submit {
        margin-top: calc(var(--theme-layout--gutter) * 2);
      }
    }
    &.rude {
      position: absolute;
      left: -9999px;
      top: 0;
    }
  }

  &.posting {
    .form__main {
      opacity: 0.33;
    }
    .form__loading {
      z-index: 10;
      display: flex;
    }
    .form__spinner {
      animation: load8 1.1s infinite linear;
    }
  }

	@include breakpoint(sm) {} // min width sm

	@include breakpoint(md) {} // min width md

	@include breakpoint(lg) {

    .field {
      &--email,
      &--tel,
      &--text {
        .label {
          transform: translate3d( 0px, 32px, 0 );
        }
      }
    }

    &__row {
      &.two-column {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-flow: row nowrap;
        .field {
          width: calc( 0.5 * (100% - var(--theme-layout--gutter)) );
          & + .field {
            margin: 0;
          }
        }
      }
    }

  } // min width lg

	@include breakpoint(xl) {} // min width xl

	@include breakpoint(xxl) {} // min width xxl

} // .form
