//////////////////////////////////////////////////////////
////  Index | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Index | Styles
//////////////////////////////////////////////////////////

.index {

  .flexible-content {
    background: var(--theme-colour--black);
    padding-bottom: 30px;
  }

  &__gradient {
    background: linear-gradient(180deg, rgba(var(--theme-colour-black),1) 0%, rgba(var(--theme-colour-black),0) 80%);
    width: 100%;
    height: 150px;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {} // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

}
