//////////////////////////////////////////////////////////
////  Submissions Page | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Submissions Page | Styles
//////////////////////////////////////////////////////////

.submissions-page {

  &__form {
    margin-top: 65px;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {} // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

} // .submissions-page
