//////////////////////////////////////////////////////////
////  Typography | Components
//////////////////////////////////////////////////////////

@import '../components.legacy/_footnote.scss';
@import '../components.legacy/_heading.scss';
@import '../components.legacy/_message.scss';

//////////////////////////////////////////////////////////
////  Typography | Styles
//////////////////////////////////////////////////////////

body {
  @include body-copy( 1, 1.32, 300 );
	font-family: var(--theme-font-family--sans-serif);
}

h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	padding: 0px;
}

// ---------------------------------------- Text Case
.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

// ---------------------------------------- Font Weight
@for $i from 1 through 9 {
  .font-weight--#{$i}00 {
    font-weight: $i * 100;
  }
}
