//////////////////////////////////////////////////////////
////  Production | About | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Production | About | Styles
//////////////////////////////////////////////////////////

.about {

  .partners {
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row nowrap;
    margin-bottom: 0;
    &__item {
      height: 22px;
      margin: 10px;
    }
    &__list {
      margin: -10px 0 0 0;
      padding: 0 10px;
      justify-content: flex-start;
      align-items: center;
    }
    &__title {
      @include body-copy( 1, 1, 300 );
      font-family: var(--theme-font-family--chaparral-pro);
      color: var(--theme-colour--white);
      text-transform: none;
      margin: 0;
    }
  }

  &__abc {
    @include body-copy( 1.15, 1.15, 300 );
    color: rgba(var(--theme-colour-white), 0.8);
  }

  &__extras {
    @include body-copy( 1, 1, 300 );
    font-family: var(--theme-font-family--chaparral-pro);
    padding-top: var(--theme-layout--gutter);
    .link {
      color: var(--theme-colour--white);
      &__icon {
        height: 22px;
      }
      &:hover {
        color: var(--theme-colour--yellow);
      }
    }
    & > * {
      margin-top: 22px;
      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__layout {
    display: flex;
    width: 100%;
    flex-flow: column;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {

    .partners {
      &__item {
        height: 24px;
      }
    }

    &__extras {
      .link {
        &__icon {
          height: 24px;
        }
      }
    }

  } // min width md

  @include breakpoint(lg) {

    .partners {
      &__item {
        height: 22px;
      }
    }

    &__extras {
      width: 35%;
      padding: 0;
      .link {
        &__icon {
          height: 22px;
        }
      }
      & > * {
        margin-top: 23px;
      }
    }

    &__layout {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: flex-start;
    }

    &__main {
      margin-right: calc( 2 * var(--theme-layout--gutter) );
      width: 65%;
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {

    .partners {
      &__item {
        height: 24px;
      }
    }

    &__extras {
      width: 40%;
      .link {
        &__icon {
          height: 24px;
        }
      }
      & > * {
        margin-top: 24px;
      }
    }

    &__main {
      width: 60%;
    }

  } // min width xxl

}
