//////////////////////////////////////////////////////////
////  Production | Awards | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Production | Awards | Styles
//////////////////////////////////////////////////////////

.awards {

  &__item {
    color: rgba( var(--theme-colour-white), 0.8 );
    & + .awards__item {
      margin-top: 20px;
    }
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {} // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

}
