//////////////////////////////////////////////////////////
////  Production | Collapsible | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Production | Collapsible | Styles
//////////////////////////////////////////////////////////

.collapsible {

  &__content {
    margin: 0;
    padding: 0;
  }

  &__item {
    border-bottom: 1px solid var(--theme-colour--white);
  }

  &__padding {
    margin: 0;
    padding: 10px 0 30px 0;
  }

  &__trigger {
    margin: 15px 0;
    padding: 0;
    &.button {
      color: var(--theme-colour--white);
      justify-content: space-between;
      width: 100%;
      .button__icon {
        transition: transform var(--theme-transition--duration);
        transform: rotate(45deg);
        height: 14px;
      }
      .button__title {
        font-family: var(--theme-font-family--trump-gothic-pro);
        color: var(--theme-colour--white);
        font-size: 36px;
        letter-spacing: 7px;
        text-transform: uppercase;
        cursor: pointer;
        line-height: 1;
      }
    }
    &.collapsed {
      .button__icon {
        transform: rotate(0deg);
      }
    }
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {} // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

} // .collapsible
