//////////////////////////////////////////////////////////
////  Production | Feature Grid Large | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Production | Feature Grid Large | Styles
//////////////////////////////////////////////////////////

&[data-layout="featured-grid-large"] {

  border: 4px solid rgba(var(--theme-colour-black), 0);
  position: relative;

  .production {

    &__content,
    &__overlay {
      transition: opacity var(--theme-transition--duration);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    &__abc {
      font-family: var(--theme-font-family--chaparral-pro);
      padding: var(--bs-gutter-x) var(--bs-gutter-x) 0;
      font-size: 14px;
      position: absolute;
      opacity: 0.8;
      top: 0;
      left: 0;
      width: 100%;
    }

    &__content {
      padding: 16px;
    }

    &__content-padding {
      border: 3.2px solid var(--theme-colour--yellow);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
      width: 100%;
      height: 100%;
      text-align: center;
      opacity: 0;
      position: relative;
    }

    &__link {
      color: rgba(var(--theme-colour-white), 1 );
      &:hover {
        .production {
          &__content-padding,
          &__overlay {
            opacity: 1;
          }
        }
      }
    }

    &__overlay {
      background: rgba(var(--theme-colour-black), 0.6666 );
      opacity: 0;
    }

    &__title {
      font-family: var(--theme-font-family--trump-gothic-pro);
      padding: 0 var(--bs-gutter-x);
      font-weight: 400;
      margin: 0;
      line-height: 1;
      text-transform: uppercase;
      font-size: 24px;
      position: relative;
      letter-spacing: 7px;
    }

  }

  &.hover {
    border: 4px solid var(--theme-colour--black);
  }

  @include breakpoint(sm) {

    .production {
      &__abc {
        font-size: 16px;
      }
      &__content {
        padding: 18px;
      }
      &__title {
        font-size: 26px;
      }
    }

  } // min width sm

  @include breakpoint(md) {

    .production {
      &__abc {
        font-size: 18px;
      }
      &__content {
        padding: 20px;
      }
      &__title {
        font-size: 34px;
      }
    }

  } // min width md

  @include breakpoint(lg) {

    .production {
      &__abc {
        font-size: 14px;
      }
      &__content {
        padding: 16px;
      }
      &__title {
        font-size: 28px;
      }
    }

  } // min width lg

  @include breakpoint(xl) {

    .production {
      &__abc {
        font-size: 14px;
      }
      &__content {
        padding: 18px;
      }
      &__title {
        font-size: 24px;
      }
    }

  } // min width xl

  @include breakpoint(xxl) {

    .production {
      &__abc {
        font-size: 16px;
      }
      &__content {
        padding: 20px;
      }
      &__title {
        font-size: 28px;
      }
    }

  } // min width xxl

}
