//////////////////////////////////////////////////////////
////  Production | Feature Grid Small | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Production | Feature Grid Small | Styles
//////////////////////////////////////////////////////////

&[data-layout="featured-grid-small"] {

  position: relative;

  .partners {
    color: rgba( var(--theme-colour-white), 0.8 );
    margin-top: 20px;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    &__item {
      height: 14px;
      margin: 0 10px 10px 0;
    }
    &__link {
      &:hover {
        color: var(--theme-colour--white);
      }
    }
    &__list {
      margin: 0 0 -10px 10px;
      max-width: none;
      flex: 1;
      flex-flow: row wrap;
      justify-content: flex-start;
    }
    &__title {
      @include body-copy();
      font-family: var(--theme-font-family--chaparral-pro);
      font-weight: normal;
      text-transform: none;
      letter-spacing: 0;
      color: inherit;
      margin: 0;
    }
  }

  .button {
    &--show-more {
      background: var(--theme-colour--black);
      color: var(--theme-colour--yellow);
      position: absolute;
      top: 0;
      right: 0;
      height: 40px;
      width: 40px;
      justify-content: center;
      align-items: center;
      svg {
        transition: transform var(--theme-transition--duration);
        transform: rotate(45deg);
        display: block;
        width: 14px;
        height: 14px;
      }
      &.collapsed {
        color: var(--theme-colour--white);
        svg {
          transform: rotate(0deg)
        }
      }
      &:hover {
        color: var(--theme-colour--yellow);
      }
    }
    &--watch-trailer {
      font-family: var(--theme-font-family--chaparral-pro);
      color: var(--theme-colour--yellow);
      justify-content: flex-start !important;
      margin-top: auto;
      opacity: 0;
      pointer-events: none;
      line-height: 1;
      font-size: 18px;
      width: auto;
      position: relative;
      svg {
        height: 18px;
      }
      &:hover {
        color: var(--theme-colour--white);
      }
    }
  }

  .production {

    &__abc,
    &__title {
      transition: opacity 200ms;
    }

    &__abc {
      font-family: var(--theme-font-family--chaparral-pro);
      font-size: 14px;
      letter-spacing: normal;
      text-transform: none;
      width: 100%;
      & + .production__title {
        margin-top: 20px;
      }
    }

    &__about {
      color: rgba( var(--theme-colour-white), 0.8 );
    }

    &__body {
      &-padding {
        padding: 30px;
        position: relative;
      }
    }

    &__cover {
      min-height: 200px;
      padding: 30px;
      position: relative;
      display: flex;
      flex-flow: column;
      &-content {
        position: relative;
      }
    }

    &__cta {
      margin-top: 30px;
      .link {
        font-family: var(--theme-font-family--chaparral-pro);
        color: var(--theme-colour--yellow);
        font-size: 18px;
        svg {
          height: 18px;
        }
        &:hover {
          color: var(--theme-colour--white);
        }
      }
    }

    &__feature-image {
      z-index: 0;
      filter: brightness(0.45);
    }

    &__preview {
      display: none;
    }

    &__reel {
      margin-bottom: 30px;
    }

    &__title {
      font-family: var(--theme-font-family--trump-gothic-pro);
      font-weight: 400;
      margin: 20px 0;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: 15px;
      font-size: 25px;
      width: 100%;
    }

  }

  &.expanded {
    .button {
      &--watch-trailer {
        pointer-events: all;
        opacity: 1;
        justify-content: flex-start;
      }
    }
  }

  @include breakpoint(sm) {

    .partners {
      &__item {
        height: 15px;
        margin: 0 10px 10px 0;
      }
      &__list {
        margin: 0 0 -10px 10px;
      }
    }

    .production {
      &__abc {
        font-size: 16px;
      }
      &__cover {
        min-height: 275px;
      }
      &__title {
        font-size: 30px;
      }
    }

  } // min width sm

  @include breakpoint(md) {

    .partners {
      &__item {
        height: 17px;
        margin: 0 12px 12px 0;
      }
      &__list {
        margin: 0 0 -12px 12px;
      }
    }

    .button {
      &--show-more {
        height: 50px;
        width: 50px;
        svg {
          width: 16px;
          height: 16px;
        }
      }
    }

    .production {
      &__abc {
        font-size: 18px;
      }
      &__body {
        &-padding {
          padding: 36px;
        }
      }
      &__cover {
        min-height: 320px;
        padding: 36px;
      }
      &__title {
        font-size: 35px;
      }
    }

  } // min width md

  @include breakpoint(lg) {

    border: 4px solid var(--theme-colour--black);

    .partners {

      $item-spacing: 10px;
      $item-height: 18px;

      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      display: flex;
      align-items: flex-end;

      &:after,
      &:before {
        background: rgba(var(--theme-colour-yellow),1);
        content: '';
        display: block;
        height: 1px;
        width: auto;
        flex: 1;
      }

      &__item {
        margin: 0 $item-spacing;
        height: $item-height;
      }

      &__list {
        flex: 0;
        width: auto;
        padding: 0 $item-spacing;
        margin: 0;
        margin-bottom: -($item-height/2);
        flex-flow: row nowrap;
      }

    }

    .button {
      &--show-more,
      &--watch-trailer {
        display: none;
      }
    }

    .production {
      &__body {
        &.collapse.show {
          display: none;
        }
      }
      &__cover {
        min-height: 400px;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
      &__preview {
        transition: opacity 200ms;
        background: rgba( var(--theme-colour-black), 0.75 );
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        padding: 24px;
        z-index: 1;
        top: 0;
        left: 0;
        &-content {
          border-top: 1px solid var(--theme-colour--yellow);
          border-right: 1px solid var(--theme-colour--yellow);
          border-left: 1px solid var(--theme-colour--yellow);
          width: 100%;
          height: 100%;
          display: flex;
          flex-flow: column;
          align-items: center;
          justify-content: center;
          padding: 0 10%;
          text-align: center;
          position: relative;
        }
        &-content-cta {
          margin-top: 20px;
          .link {
            font-family: var(--theme-font-family--chaparral-pro);
            color: var(--theme-colour--yellow);
            font-size: 16px;
            svg {
              height: 16px;
            }
            &:hover {
              color: var(--theme-colour--white);
            }
          }
        }
        &-content-excerpt {
          font-size: 17px;
          line-height: 1.15;
        }
        &-content-title {
          font-family: var(--theme-font-family--trump-gothic-pro);
          font-weight: 400;
          font-size: 28px;
          letter-spacing: 7px;
          text-transform: uppercase;
          margin: 0 0 18px;
        }
      }
      &__title {
        font-size: 38px;
      }
    }

    &:hover {
      cursor: pointer;
      .production__abc,
      .production__title {
        display: none;
      }
      .production__preview {
        opacity: 1
      }
    }

  } // min width lg

  @include breakpoint(xl) {

    .partners {

      $item-spacing: 11px;
      $item-height: 20px;

      &__item {
        margin: 0 $item-spacing;
        height: $item-height;
      }

      &__list {
        padding: 0 $item-spacing;
        margin-bottom: -($item-height/2);
      }

    }

    .production {
      &__body {
        &.collapse.show {
          display: none;
        }
      }
      &__cover {
        min-height: 430px;
      }
      &__preview {
        padding: 30px;
        &-content-excerpt {
          font-size: 18px;
        }
        &-content-title {
          font-size: 30px;
          margin: 0 0 20px;
        }
      }
      &__title {
        font-size: 40px;
      }
    }

  } // min width xl

  @include breakpoint(xxl) {

    .partners {

      $item-spacing: 12px;
      $item-height: 22px;

      &__item {
        margin: 0 $item-spacing;
        height: $item-height;
      }

      &__list {
        padding: 0 $item-spacing;
        margin-bottom: -($item-height/2);
      }

    }

    .production {
      &__body {
        &.collapse.show {
          display: none;
        }
      }
      &__cover {
        min-height: 470px;
      }
      &__preview {
        padding: 36px;
        &-content-excerpt {
          font-size: 19px;
        }
        &-content-title {
          font-size: 32px;
        }
      }
      &__title {
        font-size: 48px;
      }
    }

  } // min width xxl

}
