//////////////////////////////////////////////////////////
////  Production | Grid | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Production | Grid | Styles
//////////////////////////////////////////////////////////

&[data-layout="grid"] {

  position: relative;

  .production {

    &__cover {
      position: relative;
    }

    &__cover-placeholder {
      svg {
        display: block;
        width: 100%;
        height: auto;
      }
    }

    &__feature-image {
      filter: grayscale(0%);
    }

    &__gradient {
      background: linear-gradient(0deg, rgba(var(--theme-colour-black),1) 0%, rgba(var(--theme-colour-black),0) 45%);
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &__link {
      color: rgba( var(--theme-colour-white), 1);
      position: relative;
      display: block;
      width: 100%;
      height: auto;
      &:hover {
        color: rgba( var(--theme-colour-white), 1);
        .nat-geo {
          opacity: 1;
          transform: scale(1);
        }
      }
    }

    &__nat-geo {
      position: absolute;
      top: -10%;
      left: 10%;
      width: 80%;
      height: 120%;
      border: 3.2px solid var(--theme-colour--yellow);
      opacity: 0;
      transform: scale(1.2);
      transition: transform .3s ease,opacity .3s ease;
      z-index: 2;
      pointer-events: none;
    }

    &__title {
      font-family: var(--theme-font-family--trump-gothic-pro);
      padding: 0 var(--bs-gutter-x) var(--bs-gutter-x);
      font-weight: 400;
      margin: 0;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      font-size: 36px;
    }

  }

  @include breakpoint(sm) {

    .production {
      &__title {
        font-size: 32px;
      }
    }

  } // min width sm

  @include breakpoint(md) {

    .production {
      &__title {
        font-size: 42px;
      }
    }

  } // min width md

  @include breakpoint(lg) {

    .production {
      &__title {
        font-size: 35px;
      }
    }

  } // min width lg

  @include breakpoint(xl) {

    .production {
      &__title {
        font-size: 30px;
      }
    }

  } // min width xl

  @include breakpoint(xxl) {

    .production {
      &__title {
        font-size: 36px;
      }
    }

  } // min width xxl

}
