//////////////////////////////////////////////////////////
////  Production | Tabbed | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Production | Tabbed | Styles
//////////////////////////////////////////////////////////

.tabbed {

  &__nav {

    border: none;

    .button {
      font-family: var(--theme-font-family--trump-gothic-pro);
      color: var(--theme-colour--white);
      font-size: 36px;
      letter-spacing: 7px;
      text-transform: uppercase;
      cursor: pointer;
      line-height: 1;
      border: none;
      padding: 0;
      &:hover,
      &.active {
        color: var(--theme-colour--yellow);
        background: transparent;
        border: none;
      }
    }

    &-item {
      & + .tabbed__nav-item {
        margin-left: 50px;
      }
    }

  }

  &__padding {
    margin: 0;
    padding: 0;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {



    &__nav {

      .button {
        font-size: 40px;
      }

      &-item {
        & + .tabbed__nav-item {
          margin-left: 50px;
        }
      }
    }

    &__padding {
      padding: 36px 0 0 0;
    }

  } // min width lg

  @include breakpoint(xl) {

    &__nav {

      .button {
        font-size: 46px;
      }

      &-item {
        & + .tabbed__nav-item {
          margin-left: 65px;
        }
      }
    }

    &__padding {
      padding: 42px 0 0 0;
    }

  } // min width xl

  @include breakpoint(xxl) {

    &__nav {

      .button {
        font-size: 52px;
      }

      &-item {
        & + .tabbed__nav-item {
          margin-left: 80px;
        }
      }
    }

    &__padding {
      padding: 55px 0 0 0;
    }

  } // min width xxl

} // .collapsible
