@use '../mixins/breakpoint' as *;

.archive {

  &__heading {
    text-align: center;
    margin-bottom: 60px;
  }

  &__listing {
    column-gap: 20px;
    row-gap: 50px;
  }

  @include breakpoint(lg) {
    &__heading {
      margin-bottom: 70px;
    }
  }

  @include breakpoint(xxl) {
    &__heading {
      margin-bottom: 80px;
    }
  }

}
