html, body {
  min-height: 100%;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {

  background: var(--theme-colour--black);
  color: var(--theme-colour--white);
  display: flex;
  flex-direction: column;

  main {
    padding-top: 0;
    flex: 1 0 auto;
  }

  footer {
    flex-shrink: 0;
  }

}
