@use '../mixins/breakpoint' as *;

.container {

  padding-left: 28px;
  padding-right: 28px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  &-fluid {
    padding-left: 28px;
    padding-right: 28px;
  }

  @include breakpoint(sm) {
    padding-left: calc( 0.5 * var(--theme-layout--gutter) );
    padding-right: calc( 0.5 * var(--theme-layout--gutter) );
  }

  @include breakpoint(lg) {
    &-fluid {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  @include breakpoint(xl) {
    &-fluid {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  @include breakpoint(xxl) {
    &-fluid {
      padding-left: 50px;
      padding-right: 50px;
    }
  }

}
