@use '../mixins/breakpoint' as *;

.header {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: block;
  z-index: 100;

  &:after {
    transition: opacity var(--theme-transition--duration);
    background: var(--theme-colour--black);
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
  }

  .button--burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    .button__stroke {
      background: var(--theme-colour--white);
      height: 1px;
      margin-top: 7px;
      &:nth-child(1) {
        width: 18px;
        transition: width .3s ease, transform .3s ease-out;
        will-change: width, transform;
        transform-origin: top left;
        margin-top: 0;
      }
      &:nth-child(2) {
        width: 14px;
        opacity: 1;
        transition: width .5s ease,transform .5s ease,opacity .8s ease;
        will-change: width, transform, opacity;
      }
      &:nth-child(3) {
        width: 23px;
        transition: width .3s ease, transform .3s ease-out;
        transform-origin: bottom left;
        will-change: width, transform;
      }
    }
    &:hover {
      opacity: var(--theme-transition--opacity);
    }
    .mobile-menu--active & {
      .button__stroke {
        background: red;
        &:nth-child(1) {
          width: 23px;
          transform: translateY(5px) rotate(45deg) translateZ(0);
        }
        &:nth-child(2) {
          width: 0;
          opacity: 0;
          transform: translateX(-15px) translateZ(0);
        }
        &:nth-child(3) {
          width: 23px;

          transform: translateY(5px) rotate(-45deg) translateZ(0);
        }
      }
    }
  }

  .hamburger {
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      right: 0;
    }
    .hamburger-inner {
      width: 18px;
    }
    .hamburger-inner::before {
      width: 14px;
    }
    &.is-active {
      .hamburger-inner,
      .hamburger-inner::before,
      .hamburger-inner::after {
        width: 24px;
      }
    }
  }

  &__brand {
    transition: width var(--theme-transition--duration);
    width: 110px;
    a, img, svg {
      display: block;
      width: 100%;
      height: auto;
    }
    a {
      &:hover {
        opacity: var(--theme-transition--opacity);
      }
    }
  }

  &__main {
    padding: 18px 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .scroll-position--scrolled & {
    &:after {
      opacity: 0.9;
    }
  }

  @include breakpoint(md) {
    &__main {
      padding: 20px 0;
    }
  }

  @include breakpoint(lg) {

    .button--watch-reel {
      font-family: var(--theme-font-family--chaparral-pro);
      color: var(--theme-colour--white);
      font-weight: 100;
      font-size: 17px;
      position: absolute;
      right: 0;
      .button__icon {
        height: 18px;
        svg {
          height: 100%;
          width: auto;
        }
      }
      .button__title {
        margin-top: 2px;
        & + .button__icon {
          margin-left: 10px;
        }
      }
      &:hover {
        color: var(--theme-colour--yellow);
      }
    }

    .navigation {
      &__link {
        font-size: 18px;
        padding: 12px 20px;
      }
    }

    &__brand,
    &__hamburger,
    &__watch-reel {
      position: absolute;
    }

    &__hamburger,
    &__watch-reel {
      right: 0;
    }

    &__brand {
      left: 0;
      width: 130px;
    }

    &__main {
      padding: 22px 0;
      justify-content: center;
    }

  }

  @include breakpoint(xl) {

    .button {
      &--watch-reel {
        font-size: 18px;
        svg {
          height: 19px;
        }
      }
    }

    &__brand {
      width: 140px;
    }

  }

  @include breakpoint(xxl) {

    .button {
      &--watch-reel {
        font-size: 19px;
        svg {
          height: 20px;
        }
      }
    }

    &__brand {
      width: 150px;
    }

  }

}
