main {

  &:before {
    display: block;
    height: var(--theme-header-height);
    content: "";
    width: 100%;
  }


  .index & {

    section:first-of-type {
      &.hero {
        &:after {
          background: linear-gradient(0deg, rgba(var(--theme-colour-black),1) 0%, rgba(var(--theme-colour-black),0) 30%);
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 15;
        }
      }
    }

    &:before {
      display: none;
      height: var(--theme-header-height);
      content: "";
    }

    &:after {
      display: block;
      content: "";
      background: linear-gradient(180deg, rgba(var(--theme-colour-black), 1) 0%, rgba(var(--theme-colour-black), 0) 80%);
      width: 100%;
      height: 150px;
    }

  }

}
