@use '../mixins/breakpoint' as *;

.mobile-menu {

  transition:
    background var(--theme-transition--duration),
    transform var(--theme-transition--duration);
  background: var(--theme-colour--black);
  color: var(--theme-colour--white);
  position: fixed;
  width: 45%;
  height: 100%;
  height: var(--theme-viewport-height--total);
  top: 0;
  right: 0;
  z-index: 25;
  transform: translate3d( 100%, 0, 0 );
  will-change: background, transform;

  &__main {
    padding: var(--theme-layout--gutter);
    padding-top: var(--theme-header-height--total);
    display: flex;
    flex-flow: column;
    align-items: flex-end;
  }

  &__navigation {
    $link-size: 16px;
    font-family: var(--theme-font-family--chaparral-pro);
    color: var(--theme-colour--light-grey);
    gap: var(--theme-layout--gutter);
    font-size: $link-size;
    display: grid;
    width: 100%;
    grid-template-columns: repeat( 1, 1fr );
    text-align: right;
    font-weight: 300;
    padding-top: 35px;
    &-item {
      width: 100%;
      & + .mobile-menu__navigation-item:not(.child) {
        padding-top: calc( 0.666 * var(--theme-layout--gutter));
      }
    }
    .child {
      .link {
        font-size: $link-size - 2px;
        margin-right: 10px;
      }
    }
    .link {
      justify-content: flex-end;
      align-items: center;
      width: auto;
      &__icon {
        transition: transform var(--theme-transition--duration);
        height: 12px;
        transform: rotate(180deg);
      }
      &.active,
      &:hover {
        color: var(--theme-colour--yellow);
        .link__icon {
          transform: rotate(180deg) translate3d(5px, 0, 0);
        }
      }
    }
  }

  .mobile-menu--active & {
    transform: translate3d( 0, 0, 0 );
  }

  @include breakpoint(sm) {

    &__navigation {
      $link-size: 18px;
      font-size: $link-size;
      .child {
        .link {
          font-size: $link-size - 2px;
        }
      }
    }

  }

  @include breakpoint(md) {

    &__navigation {
      $link-size: 20px;
      font-size: $link-size;
      .child {
        .link {
          font-size: $link-size - 2px;
        }
      }
    }

  }

  @include breakpoint(lg) {

    transform: translate3d( 100%, 0, 0 );

    .mobile-menu--active & {
      transform: translate3d( 100%, 0, 0 );
    }

  }

}
