@use "sass:map";
@use "../variables" as *;
@use "breakpoint" as *;
@use "font" as *;
@use "ui" as *;

// ---------------------------------------- Size
@mixin body-copy-size( $size: "xs" ) {

  @each $name, $value in map.get($theme-body-copy-font-sizes, $size) {
    @if $name == "base" {
      font-size: $value;
    } @else {
      @include breakpoint(#{$name}) {
        font-size: $value;
      }
    }
  }

}

// ---------------------------------------- Style
@mixin body-copy-style( $style: "primary" ) {

  display: block;
  color: inherit;
  margin: 0;
  padding: 0;

  @if $style == "primary" {
    @include chaparral-pro(100);
    line-height: 1.32;
  }

  h2, h3, h4, h5, h6 {
    @include trump-gothic-pro(700);
    margin-bottom: 20px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 5.2px;
    font-size: 42px;
  }

  p, li {
    a {
      @extend %ui-base;
      @extend %ui-transition;
      border-bottom: 1px solid var(--theme-colour--yellow);
      color: var(--theme-colour--yellow);
      &:hover {
        border-bottom: 1px solid transparent;
        color: var(--theme-colour--white);
      }
    }
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  @include breakpoint(sm) {

    h2, h3, h4, h5, h6 {
      font-size: 46px;
    }

  }

  @include breakpoint(md) {

    h2, h3, h4, h5, h6 {
      font-size: 50px;
    }

  }

  @include breakpoint(lg) {

    h2, h3, h4, h5, h6 {
      font-size: 50px;
      text-align: center;
      margin-bottom: 35px;
    }

  }

  @include breakpoint(xl) {

    h2, h3, h4, h5, h6 {
      font-size: 54px;
    }

  }

  @include breakpoint(xxl) {

    h2, h3, h4, h5, h6 {
      font-size: 58px;
      margin-bottom: 40px;
    }

  }

}
