@use 'sass:color';
@use 'sass:map';
@use '../variables' as *;
@use "border" as *;
@use "breakpoint" as *;
@use "font" as *;
@use "ui" as *;

@mixin button-style( $style: "primary" ) {

  @if "primary" == $style or "secondary" == $style or "tertiary" == $style {
    @include chaparral-pro(100);
    font-weight: 100;
    font-size: 18px;
  }

  @if "primary" == $style or "secondary" == $style {
    border-style: solid;
    border-width: 1px;
    min-height: 42px;
    padding: 0 22px;
  }

  // ---------------------------------------- Primary Button
  @if "primary" == $style {
    border-color: map.get( $theme-colours, 'yellow' );
    color: map.get( $theme-colours, 'yellow' );
    &:hover {
      background: map.get( $theme-colours, 'yellow' );
      color: map.get( $theme-colours, 'black' );
    }
  }

  // ---------------------------------------- Secondary Button
  @if "secondary" == $style {
    border-color: map.get( $theme-colours, 'white' );
    color: map.get( $theme-colours, 'white' );
    &:hover {
      border-color: map.get( $theme-colours, 'yellow' );
      color: map.get( $theme-colours, 'yellow' );
    }
  }

  @if "tab" == $style {
    @include trump-gothic-pro(300);
    letter-spacing: 7px;
    text-transform: uppercase;
    &.active,
    &:hover {
      color: var(--theme-colour--yellow);
    }
  }

}
