@use "font" as *;

// ---------------------------------------- Style
@mixin caption-style( $style: "primary" ) {

  display: block;
  color: inherit;

  @if $style == "primary" {
    @include chaparral-pro(400);
    line-height: 1;
  }

}
