@mixin trump-gothic-pro( $weight: 400 ) {
  font-family: var(--theme-font-family--trump-gothic-pro);
  font-style: normal;
  font-weight: $weight;
}

@mixin chaparral-pro( $weight: 400 ) {
  font-family: var(--theme-font-family--chaparral-pro);
  font-style: normal;
  font-weight: $weight;
}
