@use "sass:map";
@use "../variables" as *;
@use "breakpoint" as *;
@use "font" as *;

// ---------------------------------------- Size
@mixin heading-size( $size: "xs" ) {

  @each $name, $value in map.get($theme-heading-font-sizes, $size) {
    @if $name == "base" {
      font-size: $value;
    } @else {
      @include breakpoint(#{$name}) {
        font-size: $value;
      }
    }
  }

}

// ---------------------------------------- Style
@mixin heading-style( $style: "primary" ) {

  display: block;
  color: inherit;
  margin: 0;
  padding: 0;

  @if $style == "primary" {
    @include trump-gothic-pro(700);
    text-transform: uppercase;
    letter-spacing: 5.2px;
    line-height: 1;
  }

  @if $style == "secondary" {
    @include chaparral-pro(400);
    line-height: 1;
  }

}
