%ui-base {
  display: inline-flex;
  width: auto;
  justify-content: center;
  align-items: center;
  opacity: 1;
  background: transparent;
  line-height: 1;
  text-decoration: none;
  outline: none;
  color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  svg {
    fill: currentColor;
  }
  &:hover {
    text-decoration: none;
  }
}

%ui-disabled {
  opacity: var(--theme-transition--opacity);
  cursor: no-drop;
  pointer-events: none;
  &:focus,
  &:hover {
    background: initial;
    color: initial;
  }
}

%ui-input {
  border: none;
  border-radius: 0;
  &[type="search"] {
    -webkit-appearance: none;
  }
}

%ui-transition {
  transition:
    background var(--theme-transition--duration),
    border var(--theme-transition--duration),
    color var(--theme-transition--duration),
    opacity var(--theme-transition--duration),
    transform var(--theme-transition--duration);
}

@mixin placeholder {
  &::-webkit-input-placeholder { @content }
  &:-moz-placeholder           { @content }
  &::-moz-placeholder          { @content }
  &:-ms-input-placeholder      { @content }
}
