//////////////////////////////////////////////////////////
////  Heading | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Heading | Styles
//////////////////////////////////////////////////////////

.heading {

  position: relative;

  &--section-title,
  &--tertiary {
    font-family: var(--theme-font-family--chaparral-pro);
  }

  &--section-title {
    font-size: 24px;
  }

  &--tertiary {
    font-size: 15px;
    line-height: 1.3;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {

    &--section-title {
      font-size: 25px;
    }

    &--tertiary {
      font-size: 16px;
    }

  } // min width md

  @include breakpoint(lg) {

    &--section-title {
      font-size: 26px;
    }

    &--tertiary {
      font-size: 17px;
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {

    &--section-title {
      font-size: 27px;
    }

    &--tertiary {
      font-size: 18px;
    }

  } // min width xxl

} // .heading
