//////////////////////////////////////////////////////////
////  Input | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Input | Styles
//////////////////////////////////////////////////////////

.input {

  transition: background var(--theme-transition--duration),
    border var(--theme-transition--duration),
    color var(--theme-transition--duration),
    font-size var(--theme-transition--duration),
    height var(--theme-transition--duration),
    opacity var(--theme-transition--duration);
  font-family: var(--theme-font-family--chaparral-pro);
  color: var(--theme-colour--white);
  background: transparent;
  border: none;
  width: 100%;
  font-size: 16px;
  line-height: 1;
  font-weight: 100;
  will-change: border color;
  display: inline-flex;
  outline: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;

  &--email,
  &--tel,
  &--text {
    @extend .input;
    border-bottom: 1px solid rgba(var(--theme-colour-white), 0.66);
    min-height: 45px;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    &--email,
    &--tel,
    &--text {
      min-height: 50px;
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

} // .input
