//////////////////////////////////////////////////////////
////  Intro | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Intro | Styles
//////////////////////////////////////////////////////////

.intro {

  padding: 0 0 35px 0;

  .title {
    margin: 0;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {} // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {

    padding: 0 0 40px 0;

  } // min width xxl

} // .intro
