//////////////////////////////////////////////////////////
////  Label | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Label | Styles
//////////////////////////////////////////////////////////

.label {

  transition:
    transform var(--theme-transition--duration),
    font-size var(--theme-transition--duration);
  font-family: var(--theme-font-family--chaparral-pro);
  color: rgba(var(--theme-colour-white), 0.6666 );
  font-size: 14px;
  font-style: italic;
  line-height: 1;
  font-weight: 100;
  display: block;
  pointer-events: none;
  will-change: transform, font-size;

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {} // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

} // .label
