//////////////////////////////////////////////////////////
////  Messsage | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Messsage | Styles
//////////////////////////////////////////////////////////

.messsage,
.rte {

  @include body-copy( 1, 1.32, 100 );
  font-family: var(--theme-font-family--chaparral-pro);
  color: var(--theme-colour--white);

  a {
    transition:
      border var(--theme-transition--duration),
      color var(--theme-transition--duration);
    border-bottom: 1px solid var(--theme-colour--yellow);
    color: var(--theme-colour--yellow);
    display: inline-block;
    width: auto;
    text-decoration: none;
    line-height: 1;
    &:hover {
      color: inherit;
      border-color: transparent;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--theme-font-family--trump-gothic-pro);
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 5.2px;
    font-size: 42px;
    font-style: normal;
    font-stretch: normal;
  }

  p, li {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-style: inherit;
    color: inherit;
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  @include breakpoint(sm) {

    h1, h2, h3, h4, h5, h6 {
      font-size: 46px;
    }

  } // min width sm

  @include breakpoint(md) {

    h1, h2, h3, h4, h5, h6 {
      font-size: 50px;
    }

  } // min width md

  @include breakpoint(lg) {

    h1, h2, h3, h4, h5, h6 {
      font-size: 50px;
      text-align: center;
      margin-bottom: 35px;
    }

  } // min width lg

  @include breakpoint(xl) {

    h1, h2, h3, h4, h5, h6 {
      font-size: 54px;
    }

  } // min width xl

  @include breakpoint(xxl) {

    h1, h2, h3, h4, h5, h6 {
      font-size: 58px;
      margin-bottom: 40px;
    }

  } // min width xxl

} // .messsage
