//////////////////////////////////////////////////////////
////  Name | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Name | Styles
//////////////////////////////////////////////////////////

.navigation {

  font-family: var(--theme-font-family--chaparral-pro);
  display: inline-flex;

  &__item,
  &__link {
    line-height: 0.9;
  }

  &__item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  &__link {
    transition: border var(--theme-transition--duration), color var(--theme-transition--duration), opacity var(--theme-transition--duration);
    font-weight: 400;
    text-decoration: none;
    outline: none;
    &:hover {
      text-decoration: none;
      outline: none;
    }
  }

  &--production {
    width: 100%;
    justify-content: flex-start;
    padding: 30px 0;
    .navigation {
      &__item {
        & + .navigation__item {
          margin-left: 20px;
        }
      }
      &__link {
        font-family: var(--theme-font-family--trump-gothic-pro);
        color: var(--theme-colour--white);
        font-size: 36px;
        letter-spacing: 7px;
        text-transform: uppercase;
        cursor: pointer;
        line-height: 1;
        padding-bottom: 10px;
        position: relative;
        &:after {
          content: '';
          width: 100%;
          height: 2px;
          background: rgba( var(--theme-colour-white), 0 );
          position: absolute;
          bottom: 0;
          left: -3.5px;
        }
        &.active,
        &:hover {
          &:after {
            background: var(--theme-colour--white);
          }
        }
      }
    }
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    &--production {
      justify-content: space-around;
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

} // .navigation
