.partners {

  display: inline-flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  svg {
    fill: currentColor;
  }

  .link {
    color: rgba(var(--theme-colour-white), 0.5);
    &:hover {
      color: var(--theme-colour--white);
    }
  }

  &__item,
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    height: 17px;
    margin: 0 14px 18px;
    a, img, svg {
      display: block;
      height: 100%;
      width: auto;
    }
  }

  &__list {
    display: inline-flex;
    flex: 1;
    flex-flow: row wrap;
    max-width: 350px;
    margin: 0 auto -18px;
    justify-content: center;
  }

  &__title {
    font-family: var(--theme-font-family--chaparral-pro);
    color: rgba(var(--theme-colour-white), 0.5);
    font-size: 12px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {

    &__item {
      margin: 0 16px 22px;
      height: 20px;
    }

    &__list {
      max-width: 450px;
      margin-bottom: -22px;
    }

  } // min width md

  @include breakpoint(lg) {

    &__item {
      margin: 0 14px 20px;
      height: 20px;
    }
    &__list {
      max-width: none;
      margin-bottom: -20px;
      padding: 0 10%;
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

} // .partners
