.screener-request {

  width: 100%;
  height: auto;
  position: relative;
  margin-top: 50px;

  .link {
    &:hover {
      color: var(--theme-colour--yellow);
    }
  }

  &__banner {
    z-index: 0;
  }

  &__contact-info {
    display: block;
    &-item {
      color: var(--theme-colour--white);
      font-family: var(--theme-font-family--chaparral-pro);
      display: block;
      font-size: 22px;
      font-weight: 100;
      margin-bottom: 10px;
      line-height: 1;
      &.name {
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 10px;
      }
      &.role {
        color: rgba( var(--theme-colour-white), 0.6 );
        font-family: var(--theme-font-family--serif--omnifilm);
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        font-style: italic;
        font-size: 15px;
        margin-bottom: 30px;
      }
    }
  }

  &__content {
    display: flex;
    width: 100%;
    flex-flow: column;
    align-items: flex-start;
    justify-items: flex-start;
  }

  &__heading {
    font-family: var(--theme-font-family--trump-gothic-pro);
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.3;
    letter-spacing: 5px;
    font-size: 24px;
    & + .screener-request__contact-info {
      margin-top: 40px
    }
  }

  &__main {
    position: relative;
    z-index: 1;
    padding: 40px 0;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    .container-fluid {
      max-width: var(--bs-container-width--lg);
      padding-right: var(--bs-gutter-x, 11px);
      padding-left: var(--bs-gutter-x, 11px);
    }

    &__contact-info {
      &-item {
        font-size: 26px;
        margin-bottom: 8px;
        &.name {
          margin-bottom: 8px;
        }
        &.role {
          font-size: 17px;
          margin-bottom: 25px;
        }
      }
    }

    &__content {
      flex-flow: row nowrap;
    }

    &__heading {
      font-size: 36px;
      letter-spacing: 7px;
      span {
        display: block;
      }
      & + .screener-request__contact-info {
        margin-top: 0;
        margin-left: 160px;
      }
    }

    &__main {
      padding: 60px 0;
    }

  } // min width lg

  @include breakpoint(xl) {

    .container-fluid {
      max-width: var(--bs-container-width--xl);
    }

  } // min width xl

  @include breakpoint(xxl) {

    .container-fluid {
      max-width: var(--bs-container-width--xxl);
    }

  } // min width xxl

}
