//////////////////////////////////////////////////////////
////  Title | Vars
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Title | Styles
//////////////////////////////////////////////////////////

.title {

  font-family: var(--theme-font-family--trump-gothic-pro);
  color: var(--theme-colour--white);
  text-transform: uppercase;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 37.5px;

  &--page-title {
    font-weight: 700;
    line-height: 1;
    letter-spacing: 5.2px;
    font-size: 42px;
  }

  &--production {
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 5.2px;
    width: 100%;
    text-align: left;
  }

  @include breakpoint(sm) {

    &--page-title {
      font-size: 46px;
    }

    &--production {
      font-size: 45px;
    }

  } // min width sm

  @include breakpoint(md) {

    &--page-title {
      font-size: 50px;
    }

    &--production {
      font-size: 52px;
    }

  } // min width md

  @include breakpoint(lg) {

    &--page-title {
      font-size: 50px;
      text-align: center;
      margin-bottom: 35px;
    }

    &--production {
      font-size: 108px;
      font-weight: 400;
      letter-spacing: 37.5px;
      text-align: center;
    }

  } // min width lg

  @include breakpoint(xl) {

    &--page-title {
      font-size: 54px;
    }

    &--production {
      font-size: 120px;
    }

  } // min width xl

  @include breakpoint(xxl) {

    &--page-title {
      font-size: 58px;
      margin-bottom: 40px;
    }

    &--production {
      font-size: 92px;
    }

  } // min width xxl

} // .title
