//////////////////////////////////////////////////////////
////  Video | Variables
//////////////////////////////////////////////////////////

:root {
  --theme-video-play-icon-size: 60px;
}

//////////////////////////////////////////////////////////
////  Video | Styles
//////////////////////////////////////////////////////////

.video {

  position: relative;
  width: 100%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
  }

  svg {
    fill: currentColor;
    display: block;
    width: 100%;
    height: auto;
  }

  &__placeholder {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &-image {
      z-index: 0;
    }
    &-play-icon {
      transition: opacity var(--theme-transition--duration);
      width: var(--theme-video-play-icon-size);
      height: var(--theme-video-play-icon-size);
      color: var(--theme-colour--white);
      position: relative;
      z-index: 1;
    }
    &:hover {
      .video__placeholder-play-icon {
        opacity: 0.6666;
      }
    }
    &.hidden {
      display: none;
    }
  }

  &[data-video-type="vimeo"] {
    &[data-aspect-ratio="4-3"] {
      padding-bottom: 75%;
    }
    &[data-aspect-ratio="16-9"] {
      padding-bottom: 56.25%;
    }
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {} // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

} // .video
