//////////////////////////////////////////////////////////
////  WYSIWYG | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  WYSIWYG | Styles
//////////////////////////////////////////////////////////

.wysiwyg {

  .link {
    &.outlined-arrow,
    &.outlined-plus {
      border-color: var(--theme-colour--white);
      color: var(--theme-colour--white);
      &:hover {
        border-color: var(--theme-colour--yellow);
        color: var(--theme-colour--yellow);
        background: transparent;
      }
    }
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {} // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

} // .wysiwyg
