@mixin body-copy( $font-size-modifier: 1, $line-height: 1.2, $font-weight: normal ) {

  font-size: calc( var(--theme-body-copy) * #{$font-size-modifier} );
  font-weight: $font-weight;
  line-height: $line-height;

  @include breakpoint(sm) {
    font-size: calc( var(--theme-body-copy--sm) * #{$font-size-modifier} );
  } // min width sm

  @include breakpoint(md) {
    font-size: calc( var(--theme-body-copy--md) * #{$font-size-modifier} );
  } // min width md

  @include breakpoint(lg) {
    font-size: calc( var(--theme-body-copy--lg) * #{$font-size-modifier} );
  } // min width lg

  @include breakpoint(xl) {
    font-size: calc( var(--theme-body-copy--xl) * #{$font-size-modifier} );
  } // min width xl

  @include breakpoint(xxl) {
    font-size: calc( var(--theme-body-copy--xxl) * #{$font-size-modifier} );
  } // min width xxl

}
