@mixin breakpoint($size:'') {

  @if $size == sm {
    @media (min-width: map-get( $grid-breakpoints, sm )) { @content; }
  }

  @else if $size == md {
    @media (min-width: map-get( $grid-breakpoints, md )) { @content; }
  }

  @else if $size == lg {
    @media (min-width: map-get( $grid-breakpoints, lg )) { @content; }
  }

  @else if $size == xl {
    @media (min-width: map-get( $grid-breakpoints, xl )) { @content; }
  }

  @else if $size == xxl {
    @media (min-width: map-get( $grid-breakpoints, xxl )) { @content; }
  }

  @else {
    @media ( min-width: $size ) { @content; }
  }

}
