@mixin button( $style: 'default' ) {

  transition: background 280ms, border 280ms, color 280ms, height 280ms, opacity 280ms;
  border-width: var(--theme-border-width);
  border-style: solid;
  border-color: transparent;
  padding: 0;
  margin: 0;
  display: inline-flex;
  outline: none;
  border-radius: 0;
  background: transparent;
  letter-spacing: 1;
  line-height: 1;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  position: relative;

  &__icon {
    img, svg {
      display: block;
    }
  }

  &:focus, &:hover {
    outline: none;
  }

  &[disabled] {
    opacity: 0.3;
    cursor: no-drop;
  }

  @if $style == 'circle' {
    height: var(--theme-button-min-height);
    width: var(--theme-button-min-height);
    border-radius: 9999px;
  }

  @if $style == 'pill' {

    padding: 0 var(--theme-gutter);
    min-width: var(--theme-button-min-width);
    min-height: var(--theme-button-min-height);
    border-color: var(--theme-color-secondary);
    border-width: var(--theme-border-width);
    color: var(--theme-color-secondary);
    border-radius: 9999px;

    &:focus,
    &:hover {
      opacity: var(--theme-opacity-on-hover);
      color: inherit;
    }

    &.button--secondary {
      &:focus,
      &:hover {
        background: var(--theme-color-secondary);
        color: var(--theme-color-primary);
        opacity: 1
      }
    }

    &.button--tertiary {
      border-color: rgba( var(--theme-yellow), 1 );
      color: rgba( var(--theme-yellow), 1 );
    }

  }

  @include breakpoint(sm) {

    font-size: var(--theme-button-font-size--sm);

    @if $style == 'circle' {
      height: var(--theme-button-min-height--sm);
      width: var(--theme-button-min-height--sm);
    }

    @if $style == 'pill' {
      min-width: var(--theme-button-min-width--sm);
      min-height: var(--theme-button-min-height--sm);
    }

  } // min width sm

  @include breakpoint(md) {

    font-size: var(--theme-button-font-size--md);

    @if $style == 'circle' {
      height: var(--theme-button-min-height--md);
      width: var(--theme-button-min-height--md);
    }

    @if $style == 'pill' {
      min-width: var(--theme-button-min-width--md);
      min-height: var(--theme-button-min-height--md);
    }

  } // min width md

  @include breakpoint(lg) {

    font-size: var(--theme-button-font-size--lg);

    @if $style == 'circle' {
      height: var(--theme-button-min-height--lg);
      width: var(--theme-button-min-height--lg);
    }

    @if $style == 'pill' {
      min-width: var(--theme-button-min-width--lg);
      min-height: var(--theme-button-min-height--lg);
    }

  } // min width lg

  @include breakpoint(xl) {

    font-size: var(--theme-button-font-size--xl);

    @if $style == 'circle' {
      height: var(--theme-button-min-height--xl);
      width: var(--theme-button-min-height--xl);
    }

    @if $style == 'pill' {
      min-width: var(--theme-button-min-width--xl);
      min-height: var(--theme-button-min-height--xl);
    }

  } // min width xl

  @include breakpoint(xxl) {

    font-size: var(--theme-button-font-size--xxl);

    @if $style == 'circle' {
      height: var(--theme-button-min-height--xxl);
      width: var(--theme-button-min-height--xxl);
    }

    @if $style == 'pill' {
      min-width: var(--theme-button-min-width--xxl);
      min-height: var(--theme-button-min-height--xxl);
    }

  } // min width xxl

}
