@mixin chaparral-pro($weight: 300) {
  font-family: chaparral-pro, serif;
  font-style: normal;
  font-weight: $weight;
}

@mixin trump-gothic-pro($weight: 300, $letter-spacing: 5.2px) {
  font-family: trumpgothicpro, sans-serif;
  font-style: normal;
  font-weight: $weight;
  letter-spacing: $letter-spacing;
}
