@mixin keyframes( $animation-name ) {
  @keyframes #{$animation-name} { @content; }
}

@mixin animation( $str ) {
  animation: #{$str};
}

@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }
}

@mixin greysacle( $value ) {
  filter:#{"grayscale(#{$value})"};
}

@mixin brightness( $value ) {
  filter: brightness( $value );
}

@function lighten( $color, $percentage ) {
  @return mix( white, $color, $percentage );
}

@function darken( $color, $percentage ) {
  @return mix( black, $color, $percentage );
}
