//////////////////////////////////////////////////////////
////  Sass Modules
//////////////////////////////////////////////////////////

@use "sass:color";
@use "sass:math";
@use "sass:map";

//////////////////////////////////////////////////////////
////  Vendor Overrides
//////////////////////////////////////////////////////////

@import 'components.legacy/variables/hamburger.scss';
@import 'components.legacy/variables/lightgallery.scss';

//////////////////////////////////////////////////////////
////  Functions
//////////////////////////////////////////////////////////

@function hexToRGB( $hex: false ) {
  @return red($hex), green($hex), blue($hex);
}

//////////////////////////////////////////////////////////
////  Theme Vars
//////////////////////////////////////////////////////////

$theme-info: (
  'author': 'Daymarker Digital',
  'name': 'Boilerplate',
  'uri': 'https://daymarker.digital/',
  'desc': 'Detail oriented, beautifully complex, yet overwhelmingly simple. Less is more, fully responsive and most certainly mobile first.',
  'version': '2.1',
);

// ---------------------------------------- Typography | Body Copy
$theme-body-copy-sizes: (
  'base': 18px,
  'sm': 18px,
  'md': 18px,
  'lg': 20px,
  'xl': 20px,
  'xxl': 20px
);

// ---------------------------------------- Border Radius
$theme-border: (
  'radius': 4px,
  'width': 1px,
);

// ---------------------------------------- Button | Font Size
$theme-button-font-sizes: (
  'base': 13px,
  'sm': 14px,
  'md': 15px,
  'lg': 13px,
  'xl': 14px,
  'xxl': 15px
);

// ---------------------------------------- Button | Height
$theme-button-min-heights: (
  'base': 40px,
  'sm': 42px,
  'md': 44px,
  'lg': 40px,
  'xl': 42px,
  'xxl': 44px
);

// ---------------------------------------- Button | Height
$theme-button-min-widths: (
  'base': 136px,
  'sm': 136px,
  'md': 136px,
  'lg': 116px,
  'xl': 120px,
  'xxl': 124px
);

// ---------------------------------------- Colours
$theme-colours: (
  'black': #000000,
  'white': #ffffff,
  'yellow': #f6ae00,
);

// ---------------------------------------- Font Sizes | Body Copy
$theme-font-sizes-body-copy: (
  'base': 15px,
  'sm': 16px,
  'md': 17px,
  'lg': 16px,
  'xl': 17px,
  'xxl': 18px
);

// ---------------------------------------- Font Sizes | Heading
$theme-font-sizes-heading: (
  'base': 32px,
  'sm': 42px,
  'md': 52px,
  'lg': 32px,
  'xl': 42px,
  'xxl': 52px
);

// ---------------------------------------- Header Height
$theme-header-heights: (
  'base': 100px,
  'sm': 110px,
  'md': 120px,
  'lg': 90px,
  'xl': 100px,
  'xxl': 110px
);

// ---------------------------------------- Bootstrap | Gutter
$grid-gutter-width: 22px;

// ---------------------------------------- Bootstrap | Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

// ---------------------------------------- Bootstrap | Container Sizes
$container-max-widths: (
  sm: 540px,
  md: 740px,
  lg: 960px,
  xl: 1160px,
  xxl: 1360px
);

//////////////////////////////////////////////////////////
////  CSS | Variables
//////////////////////////////////////////////////////////

:root {

  //////////////////////////////////////////////////////////
  ////  Bootstrap
  //////////////////////////////////////////////////////////

  // ---------------------------------------- Gutter Width
  --bs-gutter-width: #{ $grid-gutter-width };
  --bs-gutter-x: #{ $grid-gutter-width };

  // ---------------------------------------- Container Breakpoints
  --bs-container-breakpoint--sm: #{ map-get( $grid-breakpoints, sm ) };
  --bs-container-breakpoint--md: #{ map-get( $grid-breakpoints, md ) };
  --bs-container-breakpoint--lg: #{ map-get( $grid-breakpoints, lg ) };
  --bs-container-breakpoint--xl: #{ map-get( $grid-breakpoints, xl ) };
  --bs-container-breakpoint--xxl: #{ map-get( $grid-breakpoints, xxl ) };

  // ---------------------------------------- Container Max Widths
  --bs-container-width--sm: #{ map-get( $container-max-widths, sm ) };
  --bs-container-width--md: #{ map-get( $container-max-widths, md ) };
  --bs-container-width--lg: #{ map-get( $container-max-widths, lg ) };
  --bs-container-width--xl: #{ map-get( $container-max-widths, xl ) };
  --bs-container-width--xxl: #{ map-get( $container-max-widths, xxl ) };

  //////////////////////////////////////////////////////////
  ////  Theme
  //////////////////////////////////////////////////////////

  // ---------------------------------------- Body Copy
  --theme-body-copy: #{ map-get( $theme-body-copy-sizes, 'base' ) };
  --theme-body-copy--sm: #{ map-get( $theme-body-copy-sizes, 'sm' ) };
  --theme-body-copy--md: #{ map-get( $theme-body-copy-sizes, 'md' ) };
  --theme-body-copy--lg: #{ map-get( $theme-body-copy-sizes, 'lg' ) };
  --theme-body-copy--xl: #{ map-get( $theme-body-copy-sizes, 'xl' ) };
  --theme-body-copy--xxl: #{ map-get( $theme-body-copy-sizes, 'xxl' ) };

  // ---------------------------------------- Border
  --theme-border-radius: #{ map-get( $theme-border, 'radius' ) };
  --theme-border-width: #{ map-get( $theme-border, 'width' ) };

  // ---------------------------------------- Button | Font Size
  --theme-button-font-size: #{ map-get( $theme-button-font-sizes, base ) };
  --theme-button-font-size--sm: #{ map-get( $theme-button-font-sizes, sm ) };
  --theme-button-font-size--md: #{ map-get( $theme-button-font-sizes, md ) };
  --theme-button-font-size--lg: #{ map-get( $theme-button-font-sizes, lg ) };
  --theme-button-font-size--xl: #{ map-get( $theme-button-font-sizes, xl ) };
  --theme-button-font-size--xxl: #{ map-get( $theme-button-font-sizes, xxl ) };

  // ---------------------------------------- Button | Height
  --theme-button-min-height: #{ map-get( $theme-button-min-heights, base ) };
  --theme-button-min-height--sm: #{ map-get( $theme-button-min-heights, sm ) };
  --theme-button-min-height--md: #{ map-get( $theme-button-min-heights, md ) };
  --theme-button-min-height--lg: #{ map-get( $theme-button-min-heights, lg ) };
  --theme-button-min-height--xl: #{ map-get( $theme-button-min-heights, xl ) };
  --theme-button-min-height--xxl: #{ map-get( $theme-button-min-heights, xxl ) };

  // ---------------------------------------- Button | Height
  --theme-button-min-width: #{ map-get( $theme-button-min-widths, base ) };
  --theme-button-min-width--sm: #{ map-get( $theme-button-min-widths, sm ) };
  --theme-button-min-width--md: #{ map-get( $theme-button-min-widths, md ) };
  --theme-button-min-width--lg: #{ map-get( $theme-button-min-widths, lg ) };
  --theme-button-min-width--xl: #{ map-get( $theme-button-min-widths, xl ) };
  --theme-button-min-width--xxl: #{ map-get( $theme-button-min-widths, xxl ) };

  // ---------------------------------------- Colours
  --theme-colour-black: #{ hexToRGB( map-get( $theme-colours, 'black') ) };
  --theme-colour-white: #{ hexToRGB( map-get( $theme-colours, 'white') ) };
  --theme-colour-yellow: #{ hexToRGB( map-get( $theme-colours, 'yellow') ) };

  // ---------------------------------------- Container
  --theme-container--sm: #{ map-get( $container-max-widths, 'sm' ) };
  --theme-container--md: #{ map-get( $container-max-widths, 'md' ) };
  --theme-container--lg: #{ map-get( $container-max-widths, 'lg' ) };
  --theme-container--xl: #{ map-get( $container-max-widths, 'xl' ) };
  --theme-container--xxl: #{ map-get( $container-max-widths, 'xxl' ) };

  // ---------------------------------------- Font Families
  --theme-font-family--sans-serif: sans-serif;
  --theme-font-family--serif: sans-serif;
  --theme-font-family--display: serif;

  --theme-font-family--sans-serif--trump-gothic-pro: trumpgothicpro, sans-serif;

  --theme-font-family--serif--chaparral-pro: chaparral-pro, serif;
  --theme-font-family--serif--omnifilm: 'Omnifilm', serif;

  // ---------------------------------------- Header
  --theme-header-height: #{ map-get( $theme-header-heights, 'base' ) };
  --theme-header-height--sm: #{ map-get( $theme-header-heights, 'sm' ) };
  --theme-header-height--md: #{ map-get( $theme-header-heights, 'md' ) };
  --theme-header-height--lg: #{ map-get( $theme-header-heights, 'lg' ) };
  --theme-header-height--xl: #{ map-get( $theme-header-heights, 'xl' ) };
  --theme-header-height--xxl: #{ map-get( $theme-header-heights, 'xxl' ) };

  --theme-header-height--total: auto;

  // ---------------------------------------- Hover
  --theme-hover-opacity: 0.6666;

  // ---------------------------------------- Transitions
  --theme-transition-duration: 300ms;
  --theme-transition-delay: 0ms;

}
