@use "sass:map";
@use "../variables" as *;
@use "../mixins/body-copy" as *;

.body-copy {

  &--primary {
    @include body-copy-style("primary");
  }

  @each $name, $value in $theme-body-copy-font-sizes {
    &--#{$name} {
      @include body-copy-size($name);
    }
  }

}
