@use "../mixins/button" as *;
@use "../mixins/ui" as *;

.button {

  @extend %ui-base;
  @extend %ui-transition;
  gap: 12px;

  &--close,
  &--outlined,
  &--outlined-arrow,
  &--outlined-plus,
  &--primary,
  &--secondary,
  &--tertiary,
  &--tab {
    @extend .button;
  }

  &--primary {
    @include button-style("primary");
  }

  &--secondary {
    @include button-style("secondary");
  }

  &--tertiary {
    @include button-style("tertiary");
  }

  &--tab {
    @include button-style("tab");
  }

  &__icon,
  &__title {
    display: block;
  }

  &__icon {
    img, svg {
      height: 100%;
      display: block;
      width: auto;
    }
    .outlined-arrow & {
      height: 10px;
    }
    .outlined-plus & {
      height: 15px;
    }
  }

  &[disabled],
  &.disabled {
    @extend %ui-disabled;
  }

}
