@use "../mixins/border" as *;
@use "../mixins/breakpoint" as *;

.card {

  $card-padding: 18px;
  $card-border-width: 2px;

  font-family: var(--theme-font-family--chaparral-pro);
  color: var(--theme-colour--white);

  &__body-copy,
  &__title {
    display: block;
  }

  &__body-copy {
    font-size: 80%;
    line-height: 1.2;
    opacity: 0.8;
  }

  &__button {
    transition:
      color var(--theme-transition--duration),
      opacity var(--theme-transition--duration);
    color: inherit;
    margin: 0 14px;
    font-size: 12px;
    position: relative;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    bottom: -40%;
    line-height: 1;
    &-icon,
    &-title {
      display: block;
      color: inherit;
      line-height: inherit;
    }
    &-icon {
      height: 12px;
      width: 12px;
      img, svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: currentColor;
      }
    }
  }

  &__content {
    font-size: 20px;
    margin-top: 30px;
    width: 100%;
    .card-team-member & {
      text-align: center;
    }
  }

  &__cta {
    width: calc(100% + ($card-padding * 2));
    bottom: -$card-padding;
    position: relative;
    display: flex;
    align-items: flex-end;
    margin-top: auto;
    &:after,
    &:before {
      transition: background var(--theme-transition--duration);
      background: var(--theme-colour--yellow);
      display: block;
      content: "";
      height: $card-border-width;
      width: auto;
      flex: 1;
      .card-news & {
        background: var(--theme-colour--white);
      }
      .card-team-member & {
        background: var(--theme-colour--yellow);
      }
    }
  }

  &__image {
    transition: filter var(--theme-transition--duration);
    width: 100%;
    position: relative;
    margin-top: -40px;
    &-caption {
      background: var(--theme-colour--black);
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      padding: 6px 10px 4px;
      font-size: 12px;
      display: inline-flex;
      line-height: 1;
      font-style: italic;
    }
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }

  &__title {
    font-weight: 400;
    line-height: 1;
    & + .card__body-copy {
      margin-top: 10px;
    }
  }

  &__wrapper {
    transition:
      border var(--theme-transition--duration),
      color var(--theme-transition--duration),
      transform var(--theme-transition--duration);
    color: var(--theme-colour--white);
    padding: $card-padding;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    .card-news & {
      @include border-solid( $card-border-width, 'white', 'top' );
      @include border-solid( $card-border-width, 'white', 'left' );
      @include border-solid( $card-border-width, 'white', 'right' );
      .latest-articles & {
        aspect-ratio: auto;
      }
    }
    .card-team-member & {
      @include border-solid( $card-border-width, 'yellow', 'top' );
      @include border-solid( $card-border-width, 'yellow', 'left' );
      @include border-solid( $card-border-width, 'yellow', 'right' );
      aspect-ratio: 1/1.7;
    }
    &:hover {
      .card__cta {
        color: var(--theme-colour--yellow);
        &:after,
        &:before {
          .card-news & {
            background: var(--theme-colour--yellow);
          }
        }
      }
      .card-news & {
        border-color: var(--theme-colour--yellow);
      }
    }
  }

  @include breakpoint(sm) {
    &__wrapper {
      .card-news & {
        aspect-ratio: 1/1.35;
      }
      .card-team-member & {
        aspect-ratio: 1/1.65;
      }
    }
  }

  @include breakpoint(md) {
    &__wrapper {
      .card-news & {
        aspect-ratio: 1/1.1;
        .latest-articles & {
          aspect-ratio: 2/2.6;
        }
      }
      .card-team-member & {
        aspect-ratio: 1/1.65;
      }
    }
  }

  @include breakpoint(lg) {

    &__button {
      .card-team-member & {
        opacity: 0;
      }
    }

    &__cta {
      &:after,
      &:before {
        .card-team-member & {
          background: transparent;
        }
      }
    }

    &__image {
      .card-team-member & {
        filter: grayscale(100%);
      }
    }

    &__wrapper {
      .card-news & {
        aspect-ratio: 1/1.4;
        .latest-articles & {
          aspect-ratio: 2/2.3;
        }
      }
      .card-team-member & {
        aspect-ratio: 1/1.6;
        border-color: transparent;
      }
      &:hover {
        transform: scale3d(1.025, 1.025, 1);
        .card__button {
          .card-team-member & {
            opacity: 1;
          }
        }
        .card__cta {
          &:after,
          &:before {
            .card-team-member & {
              background: var(--theme-colour--yellow);
            }
          }
        }
        .card__image {
          .card-team-member & {
            filter: grayscale(0%);
          }
        }
        .card-team-member & {
          border-color: var(--theme-colour--yellow);
        }
      }
    }

  }

  @include breakpoint(xl) {

    &__button {
      font-size: 13px;
    }

    &__wrapper {
      .card-news & {
        .latest-articles & {
          aspect-ratio: 2/2.1;
        }
      }
      .card-team-member & {
        aspect-ratio: 1/1.65;
      }
    }

  }

  @include breakpoint(xxl) {

    &__button {
      font-size: 14px;
      &-icon {
        height: 13px;
        width: 13px;
      }
    }

    &__wrapper {
      .card-news & {
        aspect-ratio: 1/1.15;
        .latest-articles & {
          aspect-ratio: 2/1.9;
        }
      }
    }

  }

}
