@use "sass:map";
@use "sass:math";
@use '../variables' as *;
@use "../mixins/border" as *;
@use "../mixins/breakpoint" as *;

.card-production {

  @import "./production/partners";

  $theme-black: map.get( $theme-colours, 'black' );
  $content-offset: 16px;
  $card-border: 2px;

  position: relative;

  &:before {
    background: var(--theme-colour--black);
    transition: opacity var(--theme-transition--duration);
    opacity: 0;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  &__title,
  &__type {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
  }

  &__body {
    &-content {
      color: var(--theme-colour--light-grey);
      padding: 30px;
      position: relative;
      display: grid;
      width: 100%;
      grid-template-columns: repeat(1, 1fr);
      gap: 28px;
      .partners {
        &__link {
          color: inherit;
          &:hover {
            color: var(--theme-colour--white);
          }
        }
      }
    }
    &-cta {
      color: var(--theme-colour--yellow);
      .link:hover {
        color: var(--theme-colour--white);
      }
    }
  }

  &__content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .featured-grid-large &,
    .grid & {
      transition: opacity var(--theme-transition--duration);
      color: var(--theme-colour--white);
      color: var(--theme-colour--white);
      padding: var(--theme-layout--gutter);
      position: absolute;
      z-index: 20;
    }
    .featured-grid-large & {
      @include border-solid( $card-border, "yellow" );
      top: $content-offset;
      right: $content-offset;
      bottom: $content-offset;
      left: $content-offset;
      opacity: 0;
    }
    .grid & {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      justify-content: flex-end;
    }
  }

  &__feature-image {
    transition:
      filter var(--theme-transition--duration),
      opacity var(--theme-transition--duration);
    position: relative;
    width: 100%;
    height: auto;
    z-index: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .featured-grid-large &,
    .grid & {
      aspect-ratio: 1/1;
    }
  }

  &__gradient {
    background: linear-gradient(0deg, rgba(0,0,0, 1) 0%, rgba(0,0,0, 0) 45%);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__hero {
    aspect-ratio: 2.2/1;
    width: 100%;
    height: auto;
    position: relative;
    &-content,
    &-feature-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &-title,
    &-type {
      display: block;
      width: 100%;
    }
    &-collapse-trigger {
      background: var(--theme-colour--black);
      color: var(--theme-colour--yellow);
      position: absolute;
      z-index: 20;
      top: 0;
      right: 0;
      height: 40px;
      width: 40px;
      gap: unset;
      .button {
        &__icon {
          transition: transform var(--theme-transition--duration);
          transform: rotate(45deg);
          display: block;
          width: 35%;
          height: 35%;
        }
      }
      &.collapsed {
        color: var(--theme-colour--white);
        .button {
          &__icon {
            transform: rotate(0)
          }
        }
      }
      &:hover {
        color: var(--theme-colour--yellow);
      }
    }
    &-content {
      transition: opacity var(--theme-transition--duration);
      z-index: 10;
      padding: 30px;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: flex-start;
      opacity: 1;
    }
    &-cta {
      color: var(--theme-colour--yellow);
      opacity: 0;
      pointer-events: none;
      .button {
        &__icon {
          height: 18px;
        }
      }
      .expanded & {
        opacity: 1;
        pointer-events: all;
      }
    }
    &-feature-image {
      transition: filter var(--theme-transition--duration);
      filter: brightness(0.38);
      z-index: 0;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-title {
      font-family: var(--theme-font-family--trump-gothic-pro);
      font-weight: 400;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: 15px;
      font-size: 25px;
      margin: auto 0;
    }
    &-type {
      font-family: var(--theme-font-family--chaparral-pro);
      font-size: 14px;
      letter-spacing: normal;
      text-transform: none;
    }
  }

  &__hover-content {
    display: none;
  }

  &__link {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    &:hover {
      .card-production__content {
        opacity: 1;
      }
      .card-production__overlay {
        opacity: 0.666;
      }
      .card-production__nat-geo {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  &__nat-geo {
    @include border-solid( $card-border, "yellow" );
    transition:
      opacity var(--theme-transition--duration),
      transform var(--theme-transition--duration);
    position: absolute;
    top: -10%;
    left: 10%;
    width: 80%;
    height: 120%;
    opacity: 0;
    transform: scale(1.2);
    z-index: 2;
    pointer-events: none;
  }

  &__overlay {
    transition: opacity var(--theme-transition--duration);
    background: var(--theme-colour--black);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  &__title {
    font-family: var(--theme-font-family--trump-gothic-pro);
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 7px;
    .featured-grid-large & {
      font-size: 22px;
    }
    .grid & {
      letter-spacing: 0;
      font-size: 36px;
    }
  }

  &__type {
    font-family: var(--theme-font-family--chaparral-pro);
    opacity: .8;
    line-height: 1.3;
    text-align: center;
    .featured-grid-large & {
      padding: var(--theme-layout--gutter) var(--theme-layout--gutter) 0;
      position: absolute;
      font-size: 12px;
      top: 0;
      left: 0;
    }
  }

  .featured-grid-large & {
    &:hover {
      .card-production {
        &__feature-image {
          filter: brightness(0.2);
        }
      }
    }
  }

  @include breakpoint(sm) {

    &__feature-image {
      .featured-grid-large &,
      .grid & {
        aspect-ratio: 1/1;
      }
    }

    &__hero {
      &-title {
        font-size: 30px;
      }
      &-type {
        font-size: 16px;
      }
    }

    &__title {
      .featured-grid-large & {
        font-size: 26px;
      }
      .grid & {
        font-size: 32px;
      }
    }

    &__type {
      .featured-grid-large & {
        font-size: 16px;
      }
    }

  }

  @include breakpoint(md) {

    &__feature-image {
      .featured-grid-large &,
      .grid & {
        aspect-ratio: 1.5/1;
      }
    }

    &__hero {
      &-title {
        font-size: 35px;
      }
      &-type {
        font-size: 18px;
      }
    }

    &__title {
      .featured-grid-large & {
        font-size: 34px;
      }
      .grid & {
        font-size: 42px;
      }
    }

    &__type {
      .featured-grid-large & {
        font-size: 18px;
      }
    }

  }

  @include breakpoint(lg) {

    &__feature-image {
      .featured-grid-large &,
      .grid & {
        aspect-ratio: 3/2.5;
      }
    }

    &__hero {
      aspect-ratio: 2/1.75;
      &-collapse-trigger {
        display: none;
      }
      &-content {
        align-items: center;
        text-align: center;
      }
      &-title {
        font-size: 38px;
        margin: 0;
      }
      &-type {
        margin-top: -20px;
        margin-bottom: 20px;
      }
    }

    &__hover-content {
      @include border-solid( $card-border, "yellow", 'top' );
      @include border-solid( $card-border, "yellow", 'left' );
      @include border-solid( $card-border, "yellow", 'right' );
      transition: opacity var(--theme-transition--duration);
      top: 24px;
      right: 24px;
      bottom: 24px;
      left: 24px;
      opacity: 0;
      display: block;
      position: absolute;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      padding: 0 10%;
      text-align: center;
      z-index: 20;
      .partners {
        $partner-icon-height: 18px;
        bottom: -(math.div($partner-icon-height, 2) + 1);
        position: absolute;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &__item {
          height: $partner-icon-height;
        }
        &:after,
        &:before {
          background: var(--theme-colour--yellow);
          content: "";
          display: block;
          height: $card-border;
          width: auto;
          flex: 1;
        }
      }
      &-cta {
        margin-top: 20px;
        .link {
          color: var(--theme-colour--yellow);
          &:hover {
            color: var(--theme-colour--white);
          }
        }
      }
      &-title {
        font-family: var(--theme-font-family--trump-gothic-pro);
        font-weight: 400;
        font-size: 28px;
        letter-spacing: 7px;
        text-transform: uppercase;
        margin: 0 0 18px;
      }
    }

    &__title {
      .featured-grid-large & {
        font-size: 24px;
      }
      .grid & {
        font-size: 35px;
      }
    }

    &__type {
      .featured-grid-large & {
        font-size: 14px;
      }
    }

    &.spotlight {
      &:before {
        opacity: 0.8;
      }
    }

    .featured-grid-small & {
      cursor: pointer;
      &:hover {
        .card-production {
          &__hero {
            &-content {
              opacity: 0;
            }
            &-feature-image {
              filter: brightness(0.2);
            }
          }
          &__hover-content {
            opacity: 1;
          }
        }
      }
    }

  }

  @include breakpoint(xl) {

    $content-offset: 18px;

    &__content {
      .featured-grid-large & {
        top: $content-offset;
        right: $content-offset;
        bottom: $content-offset;
        left: $content-offset;
      }
    }

    &__hero {
      aspect-ratio: 2/1.6;
      &-title {
        font-size: 40px;
      }
    }

    &__hover-content {
      top: 30px;
      right: 30px;
      bottom: 30px;
      left: 30px;
      .partners {
        $partner-icon-height: 20px;
        bottom: -(math.div($partner-icon-height, 2) + 1);
        &__item {
          height: $partner-icon-height;
        }
      }
      &-title {
        font-size: 30px;
        margin: 0 0 20px;
      }
    }

    &__title {
      .featured-grid-large & {
        font-size: 24px;
      }
      .grid & {
        font-size: 30px;
      }
    }

    &__type {
      .featured-grid-large & {
        font-size: 14px;
      }
    }

  }

  @include breakpoint(xxl) {

    $content-offset: 20px;

    &__content {
      .featured-grid-large & {
        top: $content-offset;
        right: $content-offset;
        bottom: $content-offset;
        left: $content-offset;
      }
    }

    &__hero {
      aspect-ratio: 2/1.45;
      &-title {
        font-size: 48px;
      }
    }

    &__hover-content {
      top: 36px;
      right: 36px;
      bottom: 36px;
      left: 36px;
      .partners {
        $partner-icon-height: 22px;
        bottom: -(math.div($partner-icon-height, 2) + 1);
        &__item {
          height: $partner-icon-height;
        }
      }
      &-title {
        font-size: 32px;
      }
    }

    &__title {
      .featured-grid-large & {
        font-size: 30px;
      }
      .grid & {
        font-size: 36px;
      }
    }

    &__type {
      .featured-grid-large & {
        font-size: 16px;
      }
    }

  }

}
