@use "../mixins/breakpoint" as *;

.drop-cap {

  color: var(--theme-colour--yellow);
  float: left;
  font-size: 75px;
  line-height: .75;
  padding-right: 10px;
  margin-top: 7px;

  @include breakpoint(lg) {
    font-size: 92px;
    margin-top: 8px;
  }

}
