@use "sass:map";
@use "../variables" as *;
@use '../mixins/breakpoint' as *;

.grid {

  display: grid;
  width: 100%;

  @each $bp, $value in map.get( $theme-layout-settings, "breakpoints" ) {
    @for $i from 1 through 5 {
      @if "base" == $bp {
        &--#{$i} {
          grid-template-columns: repeat($i, 1fr);
        }
      } @else {
        @include breakpoint(#{$bp}) {
          &--#{$bp}-#{$i} {
            grid-template-columns: repeat($i, 1fr);
          }
        }
      }
    }
  }

}
