@use "sass:map";
@use "../variables" as *;
@use "../mixins/heading" as *;

.heading {

  margin: 0;
  padding: 0;
  display: block;

  &--primary {
    @include heading-style("primary");
  }

  &--secondary {
    @include heading-style("secondary");
  }

  @each $name, $value in $theme-heading-font-sizes {
    &--#{$name} {
      @include heading-size($name);
    }
  }

}
