@use "../mixins/ui" as *;

.link {

  @extend %ui-base;
  @extend %ui-transition;
  gap: 12px;

  &__icon,
  &__title {
    display: block;
  }

  &__icon {
    img, svg {
      height: 100%;
      display: block;
      width: auto;
    }
    .outlined-arrow & {
      height: 10px;
    }
    .outlined-plus & {
      height: 15px;
    }
    .production-buy &,
    .production-media-kit &,
    .production-website & {
      order: -1;
    }
  }

  &[disabled],
  &.disabled {
    @extend %ui-disabled;
  }

}
