@use '../mixins/breakpoint' as *;

.navigation {

  display: inline-flex;
  width: auto;

  header & {
    display: none;
    &__link {
      border-bottom: 1px solid #9a9a9b;
      color: #9a9a9b;
      padding: 1rem 2rem;
      &.active,
      &:hover {
        border-bottom: 1px solid var(--theme-colour--white);
        color: var(--theme-colour--white);
      }
    }
  }

  main & {
    display: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    &__link {
      font-family: var(--theme-font-family--trump-gothic-pro);
      text-transform: uppercase;
      font-size: 32px;
      letter-spacing: 7px;
      &:hover,
      &.active {
        color: var(--theme-colour--yellow);
      }
    }
  }

  &__link {
    font-weight: 400;
  }

  &__page-title {
    text-align: center;
  }

  @include breakpoint(lg) {

    header & {
      display: inline-flex;
      &__link {
        font-size: 18px;
      }
    }

    main & {
      display: inline-flex;
      gap: 45px;
      &__link {
        font-size: 32px;
      }
    }

  }

  @include breakpoint(xl) {

    main & {
      gap: 65px;
      &__link {
        font-size: 34px;
      }
    }

  }

  @include breakpoint(xxl) {

    main & {
      gap: 85px;
      &__link {
        font-size: 36px;
      }
    }

  }

}
