.partner {
  display: block;
  height: 20px;
  width: auto;
  img, svg {
    display: block;
    width: auto;
    height: 100%;
  }
  &__image,
  &__link {
    height: 100%;
    width: auto;
    display: block;
  }
}
