@use "../mixins/breakpoint" as *;

.production {

  @import "./production/about";
  @import "./production/awards";
  @import "./production/cast";
  @import "./production/collapsible";
  @import "./production/news";
  @import "./production/partners";
  @import "./production/photos";
  @import "./production/social";
  @import "./production/tabbed";

  &__feature-image {
    width: 100%;
    height: auto;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__main {
    margin-top: 30px;
  }

  &__title {
    font-family: var(--theme-font-family--trump-gothic-pro);
    text-transform: uppercase;
    line-height: 1;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    font-size: 42px;
    letter-spacing: 5.2px;
    width: 100%;
    text-align: left;
    padding: 50px 0;
  }

  @include breakpoint(sm) {

    &__title {
      font-size: 45px;
    }

  }

  @include breakpoint(md) {

    &__title {
      font-size: 52px;
    }

  }

  @include breakpoint(lg) {

    &__main {
      margin-top: 32px;
    }

    &__title {
      font-size: 108px;
      font-weight: 400;
      letter-spacing: 37.5px;
      text-align: center;
    }

  }

  @include breakpoint(xl) {

    &__main {
      margin-top: 36px;
    }

    &__title {
      font-size: 120x;
    }

  }

  @include breakpoint(xxl) {

    &__main {
      margin-top: 40px;
    }

    &__title {
      font-size: 138x;
    }

  }

}
