.site-background {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  img {
    transition: filter 400ms;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    .scroll-position--scrolled & {
      filter: grayscale(100%);
    }
  }
  &:after {
    background: var(--theme-colour--black);
    opacity: 0.7;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}
