@use '../mixins/breakpoint' as *;

.stacked {

  display: grid;
  width: 100%;
  grid-template-columns: 1fr;

  & > div {
    width: 100%;
    height: auto;
  }

  &--2,
  &--3 {
    @extend .stacked;
  }

}
