@use "../../mixins/breakpoint" as *;

.about {

  &__cta {
    .link:hover {
      color: var(--theme-colour--yellow);
    }
    .link__icon {
      height: 22px;
    }
  }

  &__extras {
    gap: 28px;
    display: inline-grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }

  &__layout {
    display: flex;
    width: 100%;
    flex-flow: wrap;
    gap: calc( 2 * var(--theme-layout--gutter));
  }

  &__type {
    font-size: 110%;
    opacity: 0.8;
  }

  @include breakpoint(md) {

    &__cta {
      .link__icon {
        height: 24px;
      }
    }

  }

  @include breakpoint(lg) {

    &__cta {
      .link__icon {
        height: 22px;
      }
    }

    &__extras {
      width: 35%;
    }

    &__layout {
      flex-flow: nowrap;
      justify-content: space-between;
      align-items: flex-start;
    }

    &__main {
      flex: 1;
    }

  }

  @include breakpoint(xl) {

    &__extras {
      width: 37.5%;
    }

  }

  @include breakpoint(xxl) {

    &__cta {
      .link__icon {
        height: 24px;
      }
    }

    &__extras {
      width: 40%;
    }

  }

}
