//////////////////////////////////////////////////////////
////  Production | About | Variables
//////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////
////  Production | About | Styles
//////////////////////////////////////////////////////////

.about {

  .partners {
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row nowrap;
    margin-bottom: 0;
    &__item {
      height: 22px;
      margin: 10px;
    }
    &__list {
      margin: -10px 0 0 0;
      padding: 0 10px;
      justify-content: flex-start;
      align-items: center;
    }
    &__title {
      @include body-copy( 1, 1, 300 );
      font-family: var(--theme-font-family--chaparral-pro);
      color: var(--theme-colour--white);
      text-transform: none;
      margin: 0;
    }
  }

  @include breakpoint(md) {

    .partners {
      &__item {
        height: 24px;
      }
    }

  } // min width md

  @include breakpoint(lg) {

    .partners {
      &__item {
        height: 22px;
      }
    }

  } // min width lg

  @include breakpoint(xxl) {

    .partners {
      &__item {
        height: 24px;
      }
    }

  } // min width xxl

}
