@use "../../mixins/breakpoint" as *;

.cast {

  &__name,
  &__role {
    font-family: var(--theme-font-family--chaparral-pro);
    letter-spacing: 0;
    line-height: 1;
  }

  &__cta {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    .button {
      font-family: var(--theme-font-family--chaparral-pro);
      color: var(--theme-colour--yellow);
      margin: 0 20px;
      width: auto;
      align-items: center;
      margin-bottom: -5px;
      &__icon {
        height: 12px;
      }
      &__title {
        font-size: 14px;
        font-weight: 400;
      }
    }
    &:after,
    &:before {
      transition: background var(--theme-transition--duration);
      background: var(--theme-colour--white);
      height: 2px;
      content: '';
      display: block;
      width: auto;
      flex: 1;
    }
  }

  &__details {
    text-align: center;
    margin: 28px 0 24px;
  }

  &__item {
    margin-top: var(--theme-production-cast-photo-offset);
  }

  &__photo {
    transition: filter var(--theme-transition--duration);
    top: calc( -1 * var(--theme-production-cast-photo-offset) );
    width: 100%;
    height: auto;
    position: relative;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__link {
    color: var(--theme-colour--white);
    border-color: var(--theme-colour--white);
    border-width: 2px;
    border-style: solid;
    transform: scale(1);
    display: block;
    width: 100%;
    height: auto;
    border-bottom: none;
    padding: 20px;
    position: relative;
    &:hover {
      border-color: var(--theme-colour--yellow);
      color: var(--theme-colour--white);
      .cast__cta {
        &:after,
        &:before {
          background: var(--theme-colour--yellow);
        }
      }
    }
  }

  &__main {
    grid-gap: calc( 1 * var(--theme-layout--gutter) );
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
  }

  &__name {
    font-size: 22px;
    font-weight: 500;
  }

  &__role {
    display: block;
    font-size: 16px;
    opacity: 0.6;
    margin-top: 8px;
  }

  @include breakpoint(md) {

    &__cta {
      .button {
        margin-bottom: -6px;
        &__icon {
          height: 14px;
        }
        &__title {
          font-size: 16px;
        }
      }
    }

    &__details {
      margin: 34px 0 28px;
    }

    &__name {
      font-size: 26px;
    }

    &__role {
      font-size: 18px;
      margin-top: 10px;
    }

  }

  @include breakpoint(lg) {

    &__cta {
      .button {
        color: rgba(var(--theme-colour-yellow),0);
        margin-bottom: -5px;
        &__icon {
          height: 12px;
        }
        &__title {
          font-size: 14px;
        }
      }
      &:after,
      &:before {
        height: 3px;
        background: transparent;
      }
    }

    &__details {
      margin: 26px 0 22px;
    }

    &__item {
      margin-top: 60px;
    }

    &__link {
      border-width: 3px;
      border-color: transparent;
      &:hover {
        border-color: var(--theme-colour--yellow);
        transform: scale(1.025);
        .cast__cta {
          .button {
            color: var(--theme-colour--yellow);
          }
          &:after,
          &:before {
            background: rgba(var(--theme-colour-yellow),1);;
          }
        }
        .cast__photo {
          filter: grayscale(0%);
        }
      }
    }

    &__main {
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: -22px;
    }

    &__name {
      font-size: 22px;
    }

    &__photo {
      filter: grayscale(100%);
      margin-top: -60px;
    }

    &__role {
      font-size: 16px;
    }

  }

  @include breakpoint(xl) {

    &__details {
      margin: 28px 0 24px;
    }

    &__name {
      font-size: 24px;
    }

    &__role {
      font-size: 16px;
    }

  }

  @include breakpoint(xxl) {

    &__details {
      margin: 30px 0 26px;
    }

    &__main {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    &__name {
      font-size: 22px;
    }

    &__role {
      font-size: 16px;
    }

  }

}
