@use "../../mixins/border" as *;
@use "../../mixins/breakpoint" as *;

.collapsible {

  &__content {
    margin: 0;
    padding: 0;
    &-padding {
      padding: 10px 0 30px 0;
    }
  }

  &__item {
    @include border-solid( 1px, "white", "bottom" );
  }

  &__trigger {
    color: var(--theme-colour--white);
    margin: 15px 0;
    padding: 0;
    justify-content: space-between;
    width: 100%;
    .button {
      &__icon {
        transition: transform var(--theme-transition--duration);
        transform: rotate(45deg);
        height: 14px;
      }
      &__title {
        font-family: var(--theme-font-family--trump-gothic-pro);
        color: var(--theme-colour--white);
        font-size: 36px;
        letter-spacing: 7px;
        text-transform: uppercase;
        cursor: pointer;
        line-height: 1;
      }
    }
    &.collapsed {
      .button {
        &__icon {
          transform: rotate(0deg);
        }
      }
    }
  }

}
