@use "../../mixins/breakpoint" as *;

.partners {

  gap: var(--theme-layout--gutter);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row nowrap;

  &__item {
    height: 22px;
    margin: 0;
  }

  &__link {
    color: var(--theme-colour--white);
    &:hover {
      color: var(--theme-colour--yellow);
    }
  }

  &__listing {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }

  &__title {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: none;
    color: inherit;
    margin: 0;
    padding: 0;
  }

  @include breakpoint(md) {

    &__item {
      height: 24px;
    }

  }

  @include breakpoint(lg) {

    &__item {
      height: 22px;
    }

  }

  @include breakpoint(xxl) {

    &__item {
      height: 24px;
    }

  }

}
