 @use "../../mixins/breakpoint" as *;

.photos {

  &__item {
    transition: opacity var(--theme-transition--duration);
    cursor: pointer;
    opacity: 1;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
    &:hover {
      opacity: var(--theme-transition--opacity);
    }
  }

  &__main {
    display: grid;
    grid-gap: var(--theme-layout--gutter);
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: rows;
  }

  @include breakpoint(md) {

    &__main {
      grid-template-columns: repeat(3, 1fr);
    }

  }

  @include breakpoint(lg) {

    &__main {
      grid-template-columns: repeat(4, 1fr);
    }

  }

  @include breakpoint(xxl) {

    &__main {
      grid-template-columns: repeat(5, 1fr);
    }

  }

}
