@use "../../mixins/breakpoint" as *;

.social {

  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;

  &__item {
    height: 22px;
    a, svg {
      display: block;
      width: auto;
      height: 100%;
    }
  }

  &__link {
    color: var(--theme-colour--white);
    &:hover {
      color: var(--theme-colour--yellow);
    }
  }

  @include breakpoint(md) {
    &__item {
      height: 24px;
    }
  }

  @include breakpoint(lg) {
    &__item {
      height: 22px;
    }
  }

  @include breakpoint(xxl) {
    &__item {
      height: 24px;
    }
  }

}
