 @use "../../mixins/breakpoint" as *;

.tabbed {

  @include breakpoint(lg) {

    &__content {
      &-padding {
        padding-top: 36px;
      }
    }

    &__nav {
      display: flex;
      justify-content: flex-start;
      align-items: baseline;
      font-size: 40px;
      gap: 50px;
      border: none;
      &-button {
        color: var(--theme-colour--white);
        background: none;
        border: none;
        border-radius: 0;
        padding: 0;
        margin: 0;
        outline: none;
        &.active,
        &:hover {
          color: var(--theme-colour--yellow);
          outline: none;
          background: none;
        }
      }
    }

  }

  @include breakpoint(xl) {

    &__content {
      &-padding {
        padding-top: 42px;
      }
    }

    &__nav {
      font-size: 46px;
      gap: 65px;
    }

  }

  @include breakpoint(xxl) {

    &__content {
      &-padding {
        padding-top: 55px;
      }
    }

    &__nav {
      font-size: 52px;
      gap: 80px;
    }

  }

}
